<div class="row">
  <div class="col-12">
    <label class="label">Rad firme:</label>
  </div>
  <div class="col-6 my-1" *ngFor="let o of company.operations; let i = index">
    <input nbInput type="text" [(ngModel)]="company.operations[i]" disabled [ngModelOptions]="{standalone: true}" fullWidth>
  </div>
</div>
<div class="row mt-3" *ngIf="operations.operations.specialWaste && (!operations.specialWasteOperations.production ||
 !operations.specialWasteOperations.export || !operations.specialWasteOperations.import)">
  <div class="col-12">
    <button #addSpecialWasteOperationButton nbButton status="success" (click)="disableButton(addSpecialWasteOperationButton)">Dodaj ostale operacije za Posebne tokove otpada</button>
  </div>
</div>

<div class="row" *ngIf="showAddOperations">
  <div class="col-12">
    <label class="label">Odaberi operacije koje nedostaju: </label>
  </div>
  <div class="col-6 my-1">
    <nb-select fullWidth (selectedChange)="addSpecialWasteOperation($event)">
      <nb-option *ngIf="!operations.specialWasteOperations.production" [value]="'Proizvodnja Posebnih Tokova Otpada'">Proizvodnja Posebnih Tokova Otpada</nb-option>
      <nb-option *ngIf="!operations.specialWasteOperations.export" [value]="'Izvoz Posebnih Tokova Otpada'">Izvoz Posebnih Tokova Otpada</nb-option>
      <nb-option *ngIf="!operations.specialWasteOperations.import" [value]="'Uvoz Posebnih Tokova Otpada'">Uvoz Posebnih Tokova Otpada</nb-option>
    </nb-select>
  </div>
</div>
