<h1 class="text-center">Registruj se!</h1>
<nb-stepper disableStepNavigation selectedIndex="3">
  <nb-step label="User" completed="true"></nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije" completed="true"></nb-step>
  <nb-step label="Informacije">
    <nb-card class="bg-light" *ngIf="operations.specialWaste">
      <nb-card-body>
        <p class="justify-content-center d-flex">Nije potrebno unošenje dodatnih informacija za Posebne tokove otpada.
        Sam unos će se obavljati u samoj aplikaciji.</p>
      </nb-card-body>
    </nb-card>
    <nb-accordion #accordionTrash size="tiny" [nbSpinner]="loading"
                  nbSpinnerStatus="danger"
                  nbSpinnerSize="giant"
                  nbSpinnerMessage="Proveravamo unete informacije!">

      <nb-accordion-item [collapsed]="activeTab !== 'production'" #accordionProduction *ngIf="operations.production">
        <nb-accordion-item-header>Proizvodnja &nbsp;
          <nb-icon [status]="checkCompletion('production').status"
                   [icon]="checkCompletion('production').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <register-trash-storage #productionRef [storageType]="'production'"
                                  *ngIf="!accordionProduction.collapsed"></register-trash-storage>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item [collapsed]="activeTab !== 'transport'" #accordionTransport *ngIf="operations.transport">
        <nb-accordion-item-header>Transport &nbsp;
          <nb-icon [status]="checkCompletion('transport').status" [icon]="checkCompletion('transport').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <register-trash-transport #transportRef *ngIf="!accordionTransport.collapsed"></register-trash-transport>

        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item [collapsed]="activeTab !== 'collector'" #accordionCollector *ngIf="operations.collector">
        <nb-accordion-item-header>Sakupljač &nbsp;
          <nb-icon [status]="checkCompletion('collector').status" [icon]="checkCompletion('collector').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <register-trash-permit #collectorRef [permitType]="'collector'"
                                 *ngIf="!accordionCollector.collapsed"></register-trash-permit>

        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item [collapsed]="activeTab !== 'treatment'" #accordionTreatment *ngIf="operations.treatment">
        <nb-accordion-item-header>Tretman &nbsp;
          <nb-icon [status]="checkCompletion('treatment').status" [icon]="checkCompletion('treatment').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <register-trash-storage #treatmentRef [storageType]="'treatment'"
                                  *ngIf="!accordionTreatment.collapsed"></register-trash-storage>

        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item [collapsed]="activeTab !== 'disposal'" #accordionDump *ngIf="operations.disposal">
        <nb-accordion-item-header>Odlaganje &nbsp;
          <nb-icon [status]="checkCompletion('dump').status" [icon]="checkCompletion('dump').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <register-trash-storage #dumpRef [storageType]="'dump'"
                                  *ngIf="!accordionDump.collapsed"></register-trash-storage>

        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item [collapsed]="activeTab !== 'cache'" #accordionCache *ngIf="operations.cache">
        <nb-accordion-item-header>Skladištenje &nbsp;
          <nb-icon [status]="checkCompletion('cache').status" [icon]="checkCompletion('cache').icon"></nb-icon>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

          <register-trash-storage #cacheRef [storageType]="'cache'"
                                  *ngIf="!accordionCache.collapsed"></register-trash-storage>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <div class="row mt-3">
      <div class="col-6 mr-0 pr-0">
        <button nbButton
                fullWidth
                status="danger"
                routerLink="/auth/register-operations">
          Nazad
        </button>
      </div>
      <div class="col-6 ml-0 pl-0">
        <button nbButton
                fullWidth
                status="success"
                type="submit"
                (click)="validateInformation(accordionTrash)">
          Dalje
        </button>
      </div>
    </div>

  </nb-step>
  <nb-step label="Potvrda"></nb-step>
</nb-stepper>
