<div class="container-fluid">
  <div *ngFor="let s of skladista;">
    <nb-card>
      <nb-card-header>
        <h2 class="text-center">{{ s?.naziv }}</h2>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table (custom)="changeKolicina($event)" [settings]="settings"
                         [source]="s?.neopasniOtpad"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dodajKolicinu>
  <div class="p-4">
    <form #dodajForm="ngForm" (ngSubmit)="dodajOtpad()">
      <div class="form-group mt-0">
        <label class="mb-2" for="input-Kolicina">Dodaj: </label>
        <input #kolicina="ngModel" [(ngModel)]="otpadKolicina" class="form-control" fullWidth id="input-Kolicina" min="1"
               name="količina" nbInput onkeypress="return /[0-9]/i.test(event.key)"
               placeholder="0"
               type="number">
      </div>
      <div class="form-group">
        <p>Trenutna kolicina otpada na skladistu: {{otpad.kolicina}}</p>
      </div>
      <button [disabled]="kolicina.value < 1 || kolicina.value === NaN" class="btn btn-primary w-100" type="submit">Dodaj</button>
    </form>
  </div>
</ng-template>
