<h1 class="text-center">Registruj se!</h1>
<nb-stepper disableStepNavigation selectedIndex="4">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije" completed="true"></nb-step>
  <nb-step label="Informacije" completed="true"></nb-step>
  <nb-step label="Potvrda">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <h5>Korisnik:</h5>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="text-muted">Ime:</label>
          </div>
          <div class="col-12">
            <button size="small" nbButton class="no-select" fullWidth outline
                    status="info">{{(korisnik$ | async)?.ime}}</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="text-muted">Prezime:</label>
          </div>
          <div class="col-12">
            <button size="small" nbButton class="no-select" fullWidth outline
                    status="info">{{(korisnik$ | async)?.prezime}}</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="text-muted">Telefon:</label>
          </div>
          <div class="col-12">
            <button size="small" nbButton class="no-select" fullWidth outline
                    status="info">{{(korisnik$ | async)?.telefon}}</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="text-muted">Email:</label>
          </div>
          <div class="col-12">
            <button size="small" nbButton class="no-select" fullWidth outline
                    status="info">{{(korisnik$ | async)?.email}}</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="text-muted">Korisničko ime:</label>
          </div>
          <div class="col-12">
            <button size="small" nbButton class="no-select" fullWidth outline
                    status="info">{{(korisnik$ | async)?.korisnickoIme}}</button>
          </div>
        </div>

        <div class="row mb-2">
          <h5>Rad firme:</h5>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <button *ngFor="let o of operacije$ | async" size="small" nbButton class="no-select rad-text mb-2" fullWidth
                    outline
                    status="warning">{{o}}</button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="col-12">
          <div class="row mb-2">
            <h5>Firma:</h5>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <label class="text-muted">Naziv:</label>
            </div>
            <div class="col-12">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.naziv}}</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-6">
              <label class="text-muted">PIB:</label>
            </div>
            <div class="col-6">
              <label class="text-muted">Matični broj:</label>
            </div>
            <div class="col-6">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.pib}}</button>
            </div>
            <div class="col-6">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.mat}}</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="text-muted">Adresa:</label>
              <button size="small" nbButton class="no-select" fullWidth outline status="success">
                {{(firma$ | async)?.adresa.mesto.opstinaNaziv}}, {{(firma$ | async)?.adresa.mesto.mestoNaziv}},
                {{(firma$ | async)?.adresa.ulica}} {{(firma$ | async)?.adresa.mesto.postanskiBroj}}</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="text-muted">Delatnost:</label>
            </div>
            <div class="col-12">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.delatnost.naziv}}</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-6">
              <label class="text-muted">Email:</label>
            </div>
            <div class="col-6">
              <label class="text-muted">Telefon:</label>
            </div>
            <div class="col-6 mb-1">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success"><p class="email-text p-0 m-0">{{(firma$ | async)?.email}}</p></button>
            </div>
            <div class="col-6 mb-1">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.telefon}}</button>
            </div>
            <div class="col-6">
              <label class="text-muted">Email za prijem dokumenata:</label>
            </div>
            <div class="col-6">
              <label class="text-muted">Faks:</label>
            </div>
            <div class="col-6">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success"><p class="email-text p-0 m-0">{{(firma$ | async)?.emailPrijem}}</p></button>
            </div>
            <div class="col-6">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.faks === '' ? '/' : (firma$ | async)?.faks}}</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="text-muted">Zakonski zastupnik firme:</label>
            </div>
            <div class="col-12">
              <button size="small" nbButton class="no-select" fullWidth outline
                      status="success">{{(firma$ | async)?.zakonskiZastupnik}}</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <form (ngSubmit)="register()">
      <button nbButton
              fullWidth
              status="danger"
              routerLink="../register-informacije"
              class="mt-2 col-6">
        Nazad
      </button>
      <button nbButton
              fullWidth
              class="col-6 mt-2"
              status="success"
              type="submit"
              [disabled]="!(uslovi.checked && tacnost.checked)">
        Završi
      </button>
    </form>

    <div class="row justify-content-center mt-2 mb-2">
      <div class="col-5 flex-fill">
        <nb-checkbox name="terms" #uslovi required>
          Slažem se sa <a href="#" target="_blank"><strong>Uslovima Korišćenjima</strong></a>
        </nb-checkbox>
      </div>
      <div class="col-5 flex-fill">
        <nb-checkbox name="tacnost" #tacnost required>Potvrđujem da su sve unete informacije tačne
        </nb-checkbox>
      </div>
    </div>
  </nb-step>
</nb-stepper>
