<div>
  <nb-card class="container-fluid">
    <nb-card-header>
      Dodajte novi inventar otpada
    </nb-card-header>
    <nb-card-body>
      <div class="flex-fill px-4">
        <div class="row">
          <div class="col-6 flex-fill">
            <form>
              <div class="row my-3">
                <label class="col-12">Indeksni broj: {{ ptotpad.indeksniBroj }}</label>
              </div>
              <div class="row my-3">
                <label class="col-12">Naziv: </label>
                <input class="col ml-3" nbInput [placeholder]="ptotpad.naziv"
                       [(ngModel)]="ptotpad.naziv" name="naziv">
              </div>
              <div class="row my-3">
                <label class="col-12">Opis: </label>
                <input class="col ml-3" nbInput [placeholder]="ptotpad.opis"
                       [(ngModel)]="ptotpad.opis" name="opis">
              </div>
              <div class="row my-3">
                <label class="col-12">Trenutna kolicina na skladistu: </label>
                <input class="col-2 ml-3" fullWidth decimals="1" step="0.1" min="0" type="number" nbInput
                       placeholder="0.0" [(ngModel)]="ptotpad.kolicina" name="kolicina">
                <button nbButton disabled>kg</button>
              </div>
              <div class="row my-3">
                <label class="col-12">Fizicko stanje otpada: </label>
                <nb-select class="col" selected="Cvrsto" [(ngModel)]="ptotpad.fizickoStanje" name="stanje">
                  <nb-option value="Cvrsto">Cvrsto</nb-option>
                  <nb-option value="Tecno">Tecno</nb-option>
                  <nb-option value="Gasovito">Gasovito</nb-option>
                  <nb-option value="Prah">Prah</nb-option>
                </nb-select>
              </div>
              <div class="row my-3">
                <!-- SELECT VRVT -->
                <label class="col-12">Jedinica mere: </label>
                <input class="col ml-3" nbInput
                       [(ngModel)]="ptotpad.jedinicaMere" name="Jedinica mere">
              </div>
              <div class="row my-3">
                <label class="col-12">Masa jedinicnog proizvoda: </label>
                <input class="col-2 ml-3" fullWidth decimals="1" step="0.1" min="0" type="number" nbInput
                       placeholder="0.0" [(ngModel)]="ptotpad.masa" name="Masa">
                <button nbButton disabled>{{ptotpad.jedinicaMere}}</button>
              </div>
              <div class="row my-3">
                <button nbButton class="ml-3" type="submit" status="primary">Dodaj</button>
              </div>
            </form>
            {{ ptotpad | json }}
          </div>
          <div class="col-6">
            <label class="col-7">Pretrazi po indeksnom broju:</label>
            <input nbInput #search class="col-3" fullWidth type="text" placeholder="Pretrazi"
                   (input)="search.value.length >= 1 && onSearch(search.value)">
            <ng2-smart-table [source]="katalog" [settings]="settings"
                             (custom)="chooseOtpad($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
