<div class="row mb-2 d-flex flex-fill justify-content-end">
  <div clss="col-4">
    <nb-select [selected]="trashList[0]" (selectedChange)="chooseTransaction($event, echart)">
      <nb-option *ngFor="let t of trashList" [value]="t">
        {{t.trash.name}}
      </nb-option>
    </nb-select>
  </div>
  <div class="col-2">
    <nb-select selected="Dani">
      <nb-option value="Dani">Dani</nb-option>
      <nb-option value="Meseci">Meseci</nb-option>
      <nb-option value="Godine">Godine</nb-option>
    </nb-select>
  </div>
</div>
<div #echart echarts [options]="options" loading="true"></div>

