<nb-card class="container-fluid">
  <nb-card-header>
    <h5>Dodajte novi inventar posebnih tokova otpada</h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row mb-2">
      <div class="col-12">
        <label class="col-8 pl-0">Pretraži po razredu:</label>
      </div>
      <div class="col-12">
        <nb-select placeholder="Odaberite razred" (selectedChange)="onSearch($event)" fullWidth>
          <nb-option [value]="r" *ngFor="let r of specialWasteClasses">{{r}}</nb-option>
        </nb-select>
      </div>
      <div class="col-12">
        <label class="col-8 pl-0">Pretraži po nazivu:</label>
      </div>
      <div class="col-12">
        <input nbInput #search fullWidth type="text" placeholder="Pretraži"
               (input)="search.value.length >= 1 && onSearch(search.value)">
        <ng2-smart-table [source]="catalog" [settings]="settings"
                         (custom)="chooseSpecialWaste($event)"></ng2-smart-table>
      </div>
    </div>
    <form #addForm="ngForm" (ngSubmit)="addSpecialWaste(addForm)">
      <div class="row mb-2">
        <label class="col-12 label" for="input-specialWasteName">Naziv: </label>
        <div class="col-4">
          <input #name="ngModel" [(ngModel)]="specialWaste.name" required placeholder="Naziv" fullWidth
                 name="specialWasteName" id="input-specialWasteName" nbInput>
          <ng-container *ngIf="name.touched || checkIssues">
            <p class="error-message mt-1 mb-0" *ngIf="name.errors?.required">
              Naziv je obavezan!
            </p>
          </ng-container>
        </div>

      </div>
      <div class="row mb-2">
        <label class="col-12 label" for="input-specialWasteDesc">Opis: </label>
        <div class="col-4">
          <input #desc="ngModel" [(ngModel)]="specialWaste.desc" required placeholder="Opis" fullWidth
                 name="specialWasteDesc" id="input-specialWasteDesc" nbInput>
          <ng-container *ngIf="desc.touched || checkIssues">
            <p class="error-message mt-1 mb-0" *ngIf="desc.errors?.required">
              Opis je obavezan!
            </p>
          </ng-container>
        </div>

      </div>
      <div class="row mb-2">
        <label class="col-12 label" for="input-specialWasteunitOfMeasure">Jedinica mere: </label>
        <div class="col-4">
          <input [(ngModel)]="specialWaste.unitOfMeasure" required disabled placeholder="Jedinica mere" fullWidth
                 name="specialWasteunitOfMeasure" id="input-specialWasteunitOfMeasure" nbInput>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-12 label" for="input-specialWasteMass">Masa jedinice mere ({{specialWaste.unitOfMeasure}}): </label>
        <div class="col-4">
          <input #mass="ngModel" [(ngModel)]="specialWaste.mass" required fullWidth min="0" name="specialWasteMass"
                 nbInput onkeypress="return /[0-9]/i.test(event.key)" placeholder="0.0" id="input-specialWasteMass" step="0.1" type="number">
          <ng-container *ngIf="mass.touched || checkIssues">
            <p class="error-message mt-1 mb-0" *ngIf="mass.errors?.required">
              Masa je obavezna!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="mass.value === null">
              Masa mora biti broj!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-12 label">Izaberite dodatne operacije proizvoda: </label>
      </div>
      <div class="row" *ngFor="let o of otherOperations">
        <div class="col-4">
          <nb-toggle (checkedChange)="addOperation(o)" [disabled]="checkOperation(o)" checked>{{o}}</nb-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <button nbButton fullWidth
                  status="primary" type="submit">Dodaj
          </button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

