<h1 class="text-center">Registruj se!</h1>
<nb-stepper disableStepNavigation selectedIndex="2">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije">
    <div class="row">
      <nb-tabset>
        <nb-tab [badgeText]="brojOtpad()" badgeStatus="primary" responsive="true" tabTitle="Otpad" [tabIcon]="trashIco">
          <nb-accordion multi>
            <nb-accordion-item>
              <nb-accordion-item-header>Neopasan otpad</nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-toggle [checked]="operacije.includes('Proizvodnja Neopasnog Otpada')"
                           (checkedChange)="addOperacija('Proizvodnja Neopasnog Otpada', $event)" class="mx-1">Proizvodnja
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Transport Neopasnog Otpada')"
                           (checkedChange)="addOperacija('Transport Neopasnog Otpada', $event)" class="mx-1">Transport
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Tretman Neopasnog Otpada')"
                           (checkedChange)="addOperacija('Tretman Neopasnog Otpada', $event)" class="mx-1">Tretman
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Odlaganje Neopasnog Otpada')"
                           (checkedChange)="addOperacija('Odlaganje Neopasnog Otpada', $event)" class="mx-1">Odlaganje
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Skladištenje Neopasnog Otpada')"
                           (checkedChange)="addOperacija('Skladištenje Neopasnog Otpada', $event)" class="mx-1">Skladištenje
                </nb-toggle>
              </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
              <nb-accordion-item-header>Opasan otpad</nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-toggle [checked]="operacije.includes('Proizvodnja Opasnog Otpada')"
                           (checkedChange)="addOperacija('Proizvodnja Opasnog Otpada', $event)" class="mx-1">Proizvodnja
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Transport Opasnog Otpada')"
                           (checkedChange)="addOperacija('Transport Opasnog Otpada', $event)" class="mx-1">Transport
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Tretman Opasnog Otpada')"
                           (checkedChange)="addOperacija('Tretman Opasnog Otpada', $event)" class="mx-1">Tretman
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Odlaganje Opasnog Otpada')"
                           (checkedChange)="addOperacija('Odlaganje Opasnog Otpada', $event)" class="mx-1">Odlaganje
                </nb-toggle>
                <nb-toggle [checked]="operacije.includes('Skladištenje Opasnog Otpada')"
                           (checkedChange)="addOperacija('Skladištenje Opasnog Otpada', $event)" class="mx-1">Skladištenje
                </nb-toggle>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-tab>
        <nb-tab responsive="true" tabTitle="Posebni tokovi otpada" [tabIcon]="carBatteryIco"></nb-tab>
        <nb-tab responsive="true" tabTitle="Ambalaze" [tabIcon]="recyleIco"></nb-tab>
        <nb-tab responsive="true" tabTitle="Emisije u vode" [tabIcon]="waterIco"></nb-tab>
        <nb-tab responsive="true" tabTitle="Emisije u vazduh" [tabIcon]="airIco"></nb-tab>
      </nb-tabset>
    </div>

    <button nbButton
            fullWidth
            status="danger"
            routerLink="../register-firma"
            class="mt-2 col-6">
      Nazad
    </button>
    <button nbButton
            fullWidth
            class="col-6 mt-2"
            status="success"
            routerLink="../register-informacije"
            [disabled]="operacije.length == 0">
      Dalje
    </button>
  </nb-step>
  <nb-step label="Informacije"></nb-step>
  <nb-step lable="Potvrda"></nb-step>
</nb-stepper>

