<nb-card>
  <nb-tabset>
    <nb-tab tabIcon="person" tabTitle="Korisnik">
      <profile-user></profile-user>
    </nb-tab>
    <nb-tab tabIcon="briefcase" tabTitle="Firma">
      <profile-company></profile-company>
    </nb-tab>
    <nb-tab [disabled]="!(operations?.production || operations?.treatment || operations?.disposal || operations?.cache)" tabIcon="cube" tabTitle="Skladišta">
      <profile-storages></profile-storages>
    </nb-tab>
    <nb-tab [disabled]="!(operations?.transport || operations?.treatment || operations?.disposal || operations?.cache)" tabIcon="file-text" tabTitle="Dozvole">
      <profile-permit></profile-permit>
    </nb-tab>
    <nb-tab [disabled]="!operations?.transport" tabIcon="car" tabTitle="Prevozna Sredstva">
      <profile-vehicle></profile-vehicle>
    </nb-tab>
  </nb-tabset>
</nb-card>


