<nb-card>
  <nb-tabset>
    <nb-tab tabIcon="person" tabTitle="Korisnik">
      <ngx-profile-korisnik></ngx-profile-korisnik>
    </nb-tab>
    <nb-tab tabIcon="briefcase" tabTitle="Firma">
      <ngx-profile-firma></ngx-profile-firma>
    </nb-tab>
    <nb-tab tabIcon="cube" tabTitle="Skladista">
      <ngx-profile-skladiste></ngx-profile-skladiste>
    </nb-tab>
    <nb-tab tabIcon="file-text" tabTitle="Dozvole">
      <ngx-profile-dozvola></ngx-profile-dozvola>
    </nb-tab>
    <nb-tab tabIcon="car" tabTitle="Prevozna Sredstva">
      <ngx-profile-prevozno-sredstvo></ngx-profile-prevozno-sredstvo>
    </nb-tab>
  </nb-tabset>
</nb-card>


