<h1 class="text-center">Registruj se!</h1>
<nb-stepper disableStepNavigation selectedIndex="2">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije">
    <div class="row">
      <nb-tabset>
        <nb-tab [badgeText]="trashOperationNumber()" badgeStatus="primary" responsive="true" tabTitle="Otpad"
                [tabIcon]="trashIco">
          <div class="row pb-0 mb-0">
            <nb-card class="col-6">
              <nb-card-header>Neopasan otpad</nb-card-header>
              <nb-card-body>
                <div class="col-12">
                  <nb-toggle #ProizvodnjaNeopasnogOtpada [checked]="operations.includes('Proizvodnja Neopasnog Otpada')"
                             (checkedChange)="addOperation('Proizvodnja Neopasnog Otpada', $event)"
                             [disabled]="TretmanNeopasnogOtpada.checked || OdlaganjeNeopasnogOtpada.checked"
                             class="mx-1">Proizvodnja
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Transport Neopasnog Otpada')"
                             (checkedChange)="addOperation('Transport Neopasnog Otpada', $event)" class="mx-1">Transport
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #SakupljacNeopasnogOtpada [checked]="operations.includes('Sakupljac Neopasnog Otpada')"
                             (checkedChange)="addOperation('Sakupljac Neopasnog Otpada', $event)" class="mx-1">
                    Sakupljač
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #TretmanNeopasnogOtpada [checked]="operations.includes('Tretman Neopasnog Otpada')"
                             (checkedChange)="addProcessOperation('Tretman Neopasnog Otpada', $event, ProizvodnjaNeopasnogOtpada)"
                             class="mx-1">Tretman
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #OdlaganjeNeopasnogOtpada [checked]="operations.includes('Odlaganje Neopasnog Otpada')"
                             (checkedChange)="addProcessOperation('Odlaganje Neopasnog Otpada', $event, ProizvodnjaNeopasnogOtpada)"
                             class="mx-1">Odlaganje
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Skladištenje Neopasnog Otpada')"
                             (checkedChange)="addOperation('Skladištenje Neopasnog Otpada', $event)" class="mx-1">
                    Skladištenje
                  </nb-toggle>
                </div>
              </nb-card-body>
            </nb-card>
            <nb-card class="col-6">
              <nb-card-header>Opasan otpad</nb-card-header>
              <nb-card-body>
                <div class="col-12">
                  <nb-toggle #ProizvodnjaOpasnogOtpada [checked]="operations.includes('Proizvodnja Opasnog Otpada')"
                             (checkedChange)="addOperation('Proizvodnja Opasnog Otpada', $event)" class="mx-1"
                             [disabled]="TretmanOpasnogOtpada.checked || OdlaganjeOpasnogOtpada.checked">
                    Proizvodnja
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Transport Opasnog Otpada')"
                             (checkedChange)="addOperation('Transport Opasnog Otpada', $event)" class="mx-1">Transport
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #SakupljacOpasnogOtpada [checked]="operations.includes('Sakupljac Opasnog Otpada')"
                             (checkedChange)="addOperation('Sakupljac Opasnog Otpada', $event)" class="mx-1">
                    Sakupljač
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #TretmanOpasnogOtpada [checked]="operations.includes('Tretman Opasnog Otpada')"
                             (checkedChange)="addProcessOperation('Tretman Opasnog Otpada', $event, ProizvodnjaOpasnogOtpada)"
                             class="mx-1">Tretman
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle #OdlaganjeOpasnogOtpada [checked]="operations.includes('Odlaganje Opasnog Otpada')"
                             (checkedChange)="addProcessOperation('Odlaganje Opasnog Otpada', $event, ProizvodnjaOpasnogOtpada)"
                             class="mx-1">Odlaganje
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Skladištenje Opasnog Otpada')"
                             (checkedChange)="addOperation('Skladištenje Opasnog Otpada', $event)" class="mx-1">
                    Skladištenje
                  </nb-toggle>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <nb-card class="row mt-0 pt-0 bg-warning"
                   *ngIf="ProizvodnjaOpasnogOtpada.disabled || ProizvodnjaNeopasnogOtpada.disabled">
            <nb-card-body class=mt-0>
              Ako se
              bavite {{TretmanNeopasnogOtpada.checked || TretmanOpasnogOtpada.checked ? 'tretmanom' : 'odlaganjem'}}
              otpada, automatski postajete
              i proizvođač otpada. :)
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab [badgeText]="specialWasteOperationNumber()" badgeStatus="primary"
                responsive="true" tabTitle="Posebni tokovi otpada" [tabIcon]="carBatteryIco">
          <div class="row pb-0 mb-0">
            <nb-card class="col-12">
              <nb-card-header>Posebni tokovi otpada</nb-card-header>
              <nb-card-body>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Proizvodnja Posebnih Tokova Otpada')"
                             (checkedChange)="addOperation('Proizvodnja Posebnih Tokova Otpada', $event)"
                             class="mx-1">Proizvodnja
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Uvoz Posebnih Tokova Otpada')"
                             (checkedChange)="addOperation('Uvoz Posebnih Tokova Otpada', $event)" class="mx-1">Uvoz
                  </nb-toggle>
                </div>
                <div class="col-12">
                  <nb-toggle [checked]="operations.includes('Izvoz Posebnih Tokova Otpada')"
                             (checkedChange)="addOperation('Izvoz Posebnih Tokova Otpada', $event)"
                             class="mx-1">Izvoz
                  </nb-toggle>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </nb-tab>
        <nb-tab responsive="true" tabTitle="Ambalaze" [tabIcon]="recyleIco"></nb-tab>
        <nb-tab responsive="true" tabTitle="Emisije u vode" [tabIcon]="waterIco"></nb-tab>
        <nb-tab responsive="true" tabTitle="Emisije u vazduh" [tabIcon]="airIco"></nb-tab>
      </nb-tabset>
      <div class="row flex-fill ml-3" style="max-width: 54.5vw;"
           *ngIf="(trashOperationNumber(true) + 0) + (specialWasteOperationNumber(true) + 0) > 0">
        <nb-card class="col-12">
          <nb-card-header>
            Lice zaduženo za upravljanje otpadom:
            <p class="card-subtitle text-secondary mt-1">
              Ako se bavite otpadom/posebnim tokovima otpada morate imati određeno lice za upravaljanje otpadom,
              ako želite da odaberete da mi to radimo ostavite sebe pa kasnije u aplikaciji moći ćete da promenite.
            </p>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-6">
                <label class="label" for="input-fNameManager">Ime:</label>
                <input #fNameManager="ngModel"
                       [(ngModel)]="company.wasteManager.firstName"
                       [attr.aria-invalid]="fNameManager.invalid && fNameManager.touched ? true : null"
                       [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
                       [minlength]="getConfigValue('forms.validation.firstName.minLength')"
                       [required]="getConfigValue('forms.validation.firstName.required')"
                       [status]="fNameManager.dirty ? (fNameManager.invalid  ? 'danger' : 'success') : 'basic'"
                       fullWidth
                       id="input-fNameManager"
                       name="fNameManager"
                       nbInput
                       placeholder="Ime">
                <ng-container *ngIf="fNameManager.invalid && fNameManager.touched">
                  <p class="error-message mt-1 mb-0" *ngIf="fNameManager.errors?.required">
                    Ime zakonskog zastupnika je obavezno!
                  </p>
                  <p class="error-message mt-1 mb-0"
                     *ngIf="fNameManager.errors?.minlength || fNameManager.errors?.maxlength">
                    Ime zakonskog zastupnika mora biti duže od
                    {{ getConfigValue('forms.validation.firstName.minLength') }} slova!
                  </p>
                </ng-container>
              </div>
              <div class="col-6">
                <label class="label" for="input-lNameManager">Prezime:</label>
                <input #lNameManager="ngModel"
                       [(ngModel)]="company.wasteManager.lastName"
                       [attr.aria-invalid]="lNameManager.invalid && lNameManager.touched ? true : null"
                       [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
                       [minlength]="getConfigValue('forms.validation.lastName.minLength')"
                       [required]="getConfigValue('forms.validation.lastName.required')"
                       [status]="lNameManager.dirty ? (lNameManager.invalid  ? 'danger' : 'success') : 'basic'"
                       fullWidth
                       id="input-lNameManager"
                       name="lNameManager"
                       nbInput
                       placeholder="Prezime">
                <ng-container *ngIf="lNameManager.invalid && lNameManager.touched">
                  <p class="error-message mt-1 mb-0" *ngIf="lNameManager.errors?.required">
                    Prezime zakonskog zastupnika je obavezno!
                  </p>
                  <p class="error-message mt-1 mb-0"
                     *ngIf="lNameManager.errors?.minlength || lNameManager.errors?.maxlength">
                    Prezime zakonskog zastupnika mora biti duže od
                    {{ getConfigValue('forms.validation.lastName.minLength') }} slova!
                  </p>
                </ng-container>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <button nbButton
            fullWidth
            status="danger"
            routerLink="../register-company"
            class="mt-2 col-6">
      Nazad
    </button>
    <button nbButton
            fullWidth
            class="col-6 mt-2"
            status="success"
            type="submit"
            (click)="validateOperations()">
      Dalje
    </button>
  </nb-step>
  <nb-step label="Informacije"></nb-step>
  <nb-step lable="Potvrda"></nb-step>
</nb-stepper>

