<form #formSkladista="ngForm" (ngSubmit)="updateDozvole(formSkladista)">
  <div *ngFor="let d of dozvole">
    <div class="row">
      <div class="col-6">
        <div class="row mb-2">
          <div class="col-12">
            <label class="label" for="input-naziv">Naziv dozvole:</label>
          </div>
          <div class="col-6">
            <input #naziv="ngModel"
                   [(ngModel)]="d.naziv"
                   [ngModelOptions]="{standalone: true}"
                   [attr.aria-invalid]="naziv.invalid && naziv.touched ? true : null"
                   [maxlength]="getConfigValue('forms.validation.nazivFirme.maxLength')"
                   [minlength]="getConfigValue('forms.validation.nazivFirme.minLength')"
                   [required]="getConfigValue('forms.validation.nazivFirme.required')"
                   [status]="naziv.dirty ? (naziv.invalid  ? 'danger' : 'success') : 'basic'"
                   [disabled]="inputsDisabled"
                   fullWidth
                   id="input-naziv"
                   name="naziv"
                   nbInput
                   type="text">
            <ng-container *ngIf="naziv.invalid && naziv.touched">
              <p class="error-message mt-1 mb-0" *ngIf="naziv.errors?.required">
                Naziv dozvole je obavezan!
              </p>
            </ng-container>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="label" for="input-sifra">Šifra dozvole:</label>
          </div>
          <div class="col-6">
            <input [(ngModel)]="d.sifra"
                   [ngModelOptions]="{standalone: true}"
                   disabled
                   fullWidth
                   id="input-sifra"
                   name="sifra"
                   nbInput
                   type="text">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <label class="label" for="input-datumNastanka">Datum trajanja dozvole:</label>
          </div>
          <div class="col-5 mr-0 pr-0">
            <input [placeholder]="getDate(d.datumNastanka)"
                   disabled
                   fullWidth
                   id="input-datumNastanka"
                   name="datumNastanka"
                   nbInput
                   type="text">
          </div>
          <button disabled nbButton class="mx-0 px-0 col-1">-</button>
          <div class="col-5 ml-0 pl-0">
            <input [placeholder]="getDate(d.datumTrajanja)"
                   disabled
                   fullWidth
                   id="input-datumTrajanja"
                   name="datumTrajanja"
                   nbInput
                   type="text">
          </div>
        </div>


      </div>

      <div class="col-6">
        <div class="row mb-2">
          <div class="col-12">
            <label class="label" for="input-vrsta">Vrsta dozvole:</label>
          </div>
          <div class="col-6">
            <input [(ngModel)]="d.vrstaDozvole"
                   [ngModelOptions]="{standalone: true}"
                   disabled
                   fullWidth
                   id="input-vrsta"
                   name="vrsta"
                   nbInput
                   type="text">
          </div>
        </div>
        <div class="row mb-2" *ngIf="d.skladistaSkladistenje !== undefined">
          <div class="col-12">
            <label class="label" for="input-skladisteSkladistenje">Skladište:</label>
          </div>
          <div class="col-6">
            <input [(ngModel)]="d.skladistaSkladistenje.naziv"
                   [ngModelOptions]="{standalone: true}"
                   disabled
                   fullWidth
                   id="input-skladisteSkladistenje"
                   name="skladisteSkladistenje"
                   nbInput
                   type="text">
          </div>
        </div>
        <div class="row mb-2" *ngIf="d.skladistaDeponija !== undefined">
          <div class="col-12">
            <label class="label" for="input-skladistaDeponija">Skladište:</label>
          </div>
          <div class="col-6">
            <input [(ngModel)]="d.skladistaDeponija.naziv"
                   [ngModelOptions]="{standalone: true}"
                   disabled
                   fullWidth
                   id="input-skladistaDeponija"
                   name="skladistaDeponija"
                   nbInput
                   type="text">
          </div>
        </div>
        <div class="row mb-2" *ngIf="d.skladistaTretman !== undefined">
          <div class="col-12">
            <label class="label" for="input-skladistaTretman">Skladište:</label>
          </div>
          <div class="col-6">
            <input [(ngModel)]="d.skladistaTretman.naziv"
                   [ngModelOptions]="{standalone: true}"
                   disabled
                   fullWidth
                   id="input-skladistaTretman"
                   name="skladistaTretman"
                   nbInput
                   type="text">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12">
            <label class="label"> </label>
          </div>
          <div class="col-6">
            <button nbButton fullWidth status="success" type="button" (click)="showOtpade(d)">Pogledaj listu otpada
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8"></div>
    <div class="col-2">
      <button (click)="enableInputs()" [disabled]="!inputsDisabled" nbButton fullWidth type="button" status="primary">
        IZMENI
      </button>
    </div>
    <div class="col-2">
      <button [disabled]="inputsDisabled" fullWidth nbButton status="primary" type="submit">SAČUVAJ</button>
    </div>
  </div>
</form>

<ng-template #viewTrash>
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <button nbButton status="warning" (click)="chooseOtpad(o, listaOtpadaButton)"
                  class="p-2 m-1" *ngFor="let o of listaOtpada" [nbPopover]="o.naziv"
                  nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
            {{o.indeksniBroj}}
          </button>
        </div>
        <div class="col-12" *ngIf="listaOtpadaButton.disabled">
          <label class="ml-0">Pretrazi po indeksnom broju:</label>
          <input nbInput #search fullWidth type="text" placeholder="Pretrazi"
                 (input)="search.value.length >= 1 && onSearch(search.value)">
          <ng2-smart-table [source]="katalog" [settings]="katalogSettings"
                           (custom)="chooseOtpad($event, listaOtpadaButton)"></ng2-smart-table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="border-0">
      <div class="row">
        <div class="col-6">
          <button (click)="listaOtpadaButton.disabled = true" #listaOtpadaButton nbButton fullWidth type="button"
                  status="primary">
            AŽURIRAJ OTPADE
          </button>
        </div>
        <div class="col-6">
          <button nbButton (click)="updateListaOtpada()"
                  [disabled]="!listaOtpadaButton.disabled || listaOtpada.length < 1" fullWidth type="button" status="primary">
            SAČUVAJ PROMENE
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
