<h1 class="text-center">Registruj se!</h1>
<nb-stepper selectedIndex="3">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije" completed="true"></nb-step>
  <nb-step label="Informacije">
    <div class="row">
      <div class="col-4">
        <h5>Lista otpada dozvole:</h5>
        <button nbButton status="warning" (click)="chooseOtpad(o)"
                class="p-2 m-1" *ngFor="let o of listaOtpada" [nbPopover]="o.naziv"
                nbPopoverTrigger="hint" nbPopoverPlacement="bottom">
          {{o.indeksniBroj}}
        </button>
      </div>
      <div class="col-8">
        <label class="ml-0">Pretrazi po indeksnom broju:</label>
        <input nbInput #search fullWidth type="text" placeholder="Pretrazi"
               (input)="search.value.length >= 1 && onSearch(search.value)">
        <ng2-smart-table [source]="katalog" [settings]="settings"
                         (custom)="chooseOtpad($event)"></ng2-smart-table>
      </div>
    </div>
    <button nbButton
            fullWidth
            status="success"
            routerLink="../register-informacije"
            class="mt-2"
    [disabled]="listaOtpada?.length === 0">
      Završi
    </button>
  </nb-step>
  <nb-step label="Potvrda"></nb-step>
</nb-stepper>
