<nb-card>
  <nb-card-header>Dozvole</nb-card-header>
  <nb-card-body>
    <form #formPermit="ngForm" (ngSubmit)="updatePermits(formPermit)">
      <div *ngFor="let d of permits">
        <div class="row">
          <div class="col-6">
            <div class="row mb-2">
              <div class="col-12">
                <label class="label" for="input-permitName">Naziv dozvole:</label>
              </div>
              <div class="col-6">
                <input #permitName="ngModel"
                       [(ngModel)]="d.name"
                       [ngModelOptions]="{standalone: true}"
                       [attr.aria-invalid]="permitName.invalid && permitName.touched ? true : null"
                       [maxlength]="getConfigValue('forms.validation.permitName.maxLength')"
                       [minlength]="getConfigValue('forms.validation.permitName.minLength')"
                       [required]="getConfigValue('forms.validation.permitName.required')"
                       [status]="permitName.dirty ? (permitName.invalid  ? 'danger' : 'success') : 'basic'"
                       [disabled]="inputsDisabled"
                       fullWidth
                       id="input-permitName"
                       name="permitName"
                       nbInput
                       type="text">
                <ng-container *ngIf="permitName.invalid && permitName.touched">
                  <p class="error-message mt-1 mb-0" *ngIf="permitName.errors?.required">
                    Naziv dozvole je obavezan!
                  </p>
                </ng-container>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label class="label" for="input-permitCode">Šifra dozvole:</label>
              </div>
              <div class="col-6">
                <input [(ngModel)]="d.code"
                       [ngModelOptions]="{standalone: true}"
                       disabled
                       fullWidth
                       id="input-permitCode"
                       name="permitCode"
                       nbInput
                       type="text">
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label class="label" for="input-dateCreation">Datum trajanja dozvole:</label>
              </div>
              <div class="col-5 mr-0 pr-0">
                <input [placeholder]="getDate(d.dateCreation)"
                       disabled
                       fullWidth
                       id="input-dateCreation"
                       name="dateCreation"
                       nbInput
                       type="text">
              </div>
              <button disabled nbButton class="mx-0 px-0 col-1">-</button>
              <div class="col-5 ml-0 pl-0">
                <input [placeholder]="getDate(d.dateExpiration)"
                       disabled
                       fullWidth
                       id="input-dateExpiration"
                       name="dateExpiration"
                       nbInput
                       type="text">
              </div>
            </div>


          </div>

          <div class="col-6">
            <div class="row mb-2">
              <div class="col-12">
                <label class="label" for="input-permiType">Vrsta dozvole:</label>
              </div>
              <div class="col-6">
                <input [(ngModel)]="d.type"
                       [ngModelOptions]="{standalone: true}"
                       disabled
                       fullWidth
                       id="input-permiType"
                       name="permiType"
                       nbInput
                       type="text">
              </div>
            </div>
            <div class="row mb-2" *ngIf="d.storage !== undefined">
              <div class="col-12">
                <label class="label" for="input-permitStorage">Skladište:</label>
              </div>
              <div class="col-6">
                <input [(ngModel)]="d.storage.name"
                       [ngModelOptions]="{standalone: true}"
                       disabled
                       fullWidth
                       id="input-permitStorage"
                       name="permitStorage"
                       nbInput
                       type="text">
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-12">
                <label class="label"> </label>
              </div>
              <div class="col-6">
                <button nbButton fullWidth status="success" type="button" (click)="openPermitsTrashWindow(d)">Pogledaj
                  listu otpada
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
          <button (click)="enableInputs()" [disabled]="!inputsDisabled" nbButton fullWidth type="button"
                  status="primary">
            IZMENI
          </button>
        </div>
        <div class="col-2">
          <button [disabled]="inputsDisabled" fullWidth nbButton status="primary" type="submit">SAČUVAJ</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
<ng-template #viewTrash>
  <view-permits-trash-popup [selectedPermit]="selectedPermit"
                            (callUpdatePermitsTrash)="updatePermitsTrashMethod($event)"></view-permits-trash-popup>
</ng-template>
