<form #formKorisnik="ngForm" (ngSubmit)="updateFirma(formKorisnik)" class="col-12">
  <div class="row">
    <div class="col-6">
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-companyName">Naziv Firme:</label>
        </div>
        <div class="col-6">
          <input #companyName="ngModel"
                 [(ngModel)]="company.name"
                 disabled
                 fullWidth
                 id="input-companyName"
                 name="companyName"
                 nbInput
                 type="text">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-pib">PIB:</label>
        </div>
        <div class="col-6">
          <input #pib="ngModel"
                 [(ngModel)]="company.pib"
                 disabled
                 fullWidth
                 id="input-pib"
                 name="pib"
                 nbInput
                 type="text">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-mat">Matični broj:</label>
        </div>
        <div class="col-6">
          <input #mat="ngModel"
                 [(ngModel)]="company.mat"
                 disabled
                 fullWidth
                 id="input-mat"
                 name="mat"
                 nbInput
                 type="text">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-email">Email:</label>
        </div>
        <div class="col-6">
          <input #email="ngModel"
                 [(ngModel)]="company.email"
                 [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                 [pattern]="getConfigValue('forms.validation.email.pattern')"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-email"
                 name="email"
                 nbInput
                 type="text">
          <ng-container *ngIf="email.invalid && email.touched">
            <p class="error-message mt-1 mb-0" *ngIf="email.errors?.required">
              Email je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="email.errors?.pattern">
              Email mora biti validan!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-emailReception">Email za prijem dokumenata:</label>
        </div>
        <div class="col-6">
          <input #emailReception="ngModel"
                 [(ngModel)]="company.emailReception"
                 [attr.aria-invalid]="emailReception.invalid && emailReception.touched ? true : null"
                 [pattern]="getConfigValue('forms.validation.email.pattern')"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [status]="emailReception.dirty ? (emailReception.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-emailReception"
                 name="emailReception"
                 nbInput
                 type="text">
          <ng-container *ngIf="emailReception.invalid && emailReception.touched">
            <p class="error-message mt-1 mb-0" *ngIf="emailReception.errors?.required">
              Email je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="emailReception.errors?.pattern">
              Email mora biti validan!
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-telephone">Telefon:</label>
        </div>
        <div class="col-6">
          <input #telephone="ngModel"
                 [(ngModel)]="company.telephone"
                 [attr.aria-invalid]="telephone.invalid && telephone.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.phone.maxLength')"
                 [minlength]="getConfigValue('forms.validation.phone.minLength')"
                 [required]="getConfigValue('forms.validation.phone.required')"
                 [status]="telephone.dirty ? (telephone.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-telephone"
                 name="telephone"
                 nbInput
                 type="text">
          <ng-container *ngIf="telephone.invalid && telephone.touched">
            <p class="error-message mt-1 mb-0" *ngIf="telephone.errors?.required">
              Telefon je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="telephone.errors?.minlength || telephone.errors?.maxlength">
              Telefon mora da bude duži od
              {{ getConfigValue('forms.validation.phone.minLength') }}
              a kraći od {{ getConfigValue('forms.validation.phone.maxLength') }}
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2" *ngIf="company.fax === ''">
        <div class="col-12">
          <label class="label" for="input-fax">Faks:</label>
        </div>
        <div class="col-6">
          <input #fax="ngModel"
                 [(ngModel)]="company.fax"
                 [attr.aria-invalid]="fax.invalid && fax.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.phone.maxLength')"
                 [minlength]="getConfigValue('forms.validation.phone.minLength')"
                 [status]="fax.dirty ? (fax.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-fax"
                 name="fax"
                 nbInput
                 type="text">
          <ng-container *ngIf="fax.invalid && fax.touched">
            <p class="error-message mt-1 mb-0" *ngIf="fax.errors?.minlength || fax.errors?.maxlength">
              Faks mora da bude duži od
              {{ getConfigValue('forms.validation.phone.minLength') }}
              a kraći od {{ getConfigValue('forms.validation.phone.maxLength') }}
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-legalRepFname">Ime zakonskog zastupnika:</label>
        </div>
        <div class="col-6">
          <input #legalRepFname="ngModel"
                 [(ngModel)]="company.legalRep.firstName"
                 [attr.aria-invalid]="legalRepFname.invalid && legalRepFname.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
                 [minlength]="getConfigValue('forms.validation.firstName.minLength')"
                 [required]="getConfigValue('forms.validation.firstName.required')"
                 [status]="legalRepFname.dirty ? (legalRepFname.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-legalRepFname"
                 name="legalRepFname"
                 nbInput
                 type="text">
          <ng-container *ngIf="legalRepFname.invalid && legalRepFname.touched">
            <p class="error-message mt-1 mb-0" *ngIf="legalRepFname.errors?.required">
              Zakosni zastupnik firme je obavezan!
            </p>
            <p class="error-message mt-1 mb-0"
               *ngIf="legalRepFname.errors?.minlength || legalRepFname.errors?.maxlength">
              Zakosni zastupnik mora da bude duži od
              {{ getConfigValue('forms.validation.firstName.minLength') }}
              a kraći od {{ getConfigValue('forms.validation.firstName.maxLength') }}
            </p>
          </ng-container>
        </div>
        <div class="col-12">
          <label class="label" for="input-legalRepLName">Prezime zakonskog zastupnika:</label>
        </div>
        <div class="col-6">
          <input #legalRepLName="ngModel"
                 [(ngModel)]="company.legalRep.lastName"
                 [attr.aria-invalid]="legalRepLName.invalid && legalRepLName.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
                 [minlength]="getConfigValue('forms.validation.lastName.minLength')"
                 [required]="getConfigValue('forms.validation.lastName.required')"
                 [status]="legalRepLName.dirty ? (legalRepLName.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-legalRepLName"
                 name="legalRepLName"
                 nbInput
                 type="text">
          <ng-container *ngIf="legalRepLName.invalid && legalRepLName.touched">
            <p class="error-message mt-1 mb-0" *ngIf="legalRepLName.errors?.required">
              Zakosni zastupnik firme je obavezan!
            </p>
            <p class="error-message mt-1 mb-0"
               *ngIf="legalRepLName.errors?.minlength || legalRepLName.errors?.maxlength">
              Zakosni zastupnik mora da bude duži od
              {{ getConfigValue('forms.validation.lastName.minLength') }}
              a kraći od {{ getConfigValue('forms.validation.lastName.maxLength') }}
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2" *ngIf="company.wasteManager !== undefined">
        <div class="col-12">
          <label class="label" for="input-wasteManagerFName">Ime odgovornog lica za upravljanje otpadom:</label>
        </div>
        <div class="col-6">
          <input #wasteManagerFName="ngModel"
                 [(ngModel)]="company.wasteManager.firstName"
                 [attr.aria-invalid]="wasteManagerFName.invalid && wasteManagerFName.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
                 [minlength]="getConfigValue('forms.validation.firstName.minLength')"
                 [required]="getConfigValue('forms.validation.firstName.required')"
                 [status]="wasteManagerFName.dirty ? (wasteManagerFName.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-wasteManagerFName"
                 name="wasteManagerFName"
                 nbInput
                 type="text">
          <ng-container *ngIf="wasteManagerFName.invalid && wasteManagerFName.touched">
            <p class="error-message mt-1 mb-0" *ngIf="wasteManagerFName.errors?.required">
              Ime odgovornog lica za upravljanje otpadom je obavezno!
            </p>
            <p class="error-message mt-1 mb-0"
               *ngIf="wasteManagerFName.errors?.minlength || wasteManagerFName.errors?.maxlength">
              Ime odgovornog lica za upravljanje otpadom mora biti duže
              {{ getConfigValue('forms.validation.firstName.minLength') }}
            </p>
          </ng-container>
        </div>
        <div class="col-12">
          <label class="label" for="input-wasteManagerLName">Prezime odgovornog lica za upravljanje otpadom:</label>
        </div>
        <div class="col-6">
          <input #wasteManagerLName="ngModel"
                 [(ngModel)]="company.wasteManager.lastName"
                 [attr.aria-invalid]="wasteManagerLName.invalid && wasteManagerLName.touched ? true : null"
                 [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
                 [minlength]="getConfigValue('forms.validation.lastName.minLength')"
                 [required]="getConfigValue('forms.validation.lastName.required')"
                 [status]="wasteManagerLName.dirty ? (wasteManagerLName.invalid  ? 'danger' : 'success') : 'basic'"
                 [disabled]="inputsDisabled"
                 fullWidth
                 id="input-wasteManagerLName"
                 name="wasteManagerLName"
                 nbInput
                 type="text">
          <ng-container *ngIf="wasteManagerLName.invalid && wasteManagerLName.touched">
            <p class="error-message mt-1 mb-0" *ngIf="wasteManagerLName.errors?.required">
              Prezime odgovornog lica za upravljanje otpadom je obavezno!
            </p>
            <p class="error-message mt-1 mb-0"
               *ngIf="wasteManagerLName.errors?.minlength || wasteManagerLName.errors?.maxlength">
              Prezime odgovornog lica za upravljanje otpadom mora da bude duže od
              {{ getConfigValue('forms.validation.lastName.minLength') }}
            </p>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-address">Adresa Firme:</label>
        </div>
        <div class="col-12">
          <input
            disabled
            [placeholder]="company.address.location.townshipName + ', ' +
                company.address.location.placeName + ', ' + company.address.street"
            fullWidth
            id="input-address"
            name="address"
            nbInput
            type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8"></div>
    <div class="col-2">
      <button (click)="enableInputs()" [disabled]="!inputsDisabled" nbButton fullWidth type="button"
              status="primary">
        IZMENI
      </button>
    </div>
    <div class="col-2">
      <button [disabled]="inputsDisabled" fullWidth nbButton status="primary" type="submit">SAČUVAJ</button>
    </div>
  </div>
</form>
