<div class="align-self-center">
  <h1 class="mb-1 text-center">Zaboravljena lozinka:</h1>
  <form #form="ngForm" (ngSubmit)="resetPassword(form)" class="mt-4">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="row mb-2">
          <label class="label col-12" for="input-password">Šifra:</label>
          <div class="col-10 pr-0">
            <input #passwordModel="ngModel"
                   [(ngModel)]="password"
                   [attr.aria-invalid]="passwordModel.invalid && passwordModel.touched ? true : null"
                   [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                   [minlength]="getConfigValue('forms.validation.password.minLength')"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [status]="passwordModel.dirty ? (passwordModel.invalid  ? 'danger' : 'success') : 'basic'"
                   [type]="showPassword === 'eye' ? 'password' : 'text'"
                   fullWidth
                   id="input-password"
                   name="password"
                   nbInput
                   placeholder="Šifra"
                   tabindex="1">
          </div>
          <div class="col-2 pl-0">
            <button fullWidth tabindex="-1" nbButton type="button"
                    (click)="this.showPassword = this.showPassword === 'eye' ? 'eye-off' : 'eye';">
              <nb-icon [icon]="showPassword"></nb-icon>
            </button>
          </div>
          <div class="col-12">
            <ng-container *ngIf="passwordModel.invalid && passwordModel.touched">
              <p class="error-message mt-1 mb-0" *ngIf="passwordModel.errors?.required">
                Šifra je obavezna!
              </p>
              <p class="error-message mt-1 mb-0"
                 *ngIf="passwordModel.errors?.minlength || passwordModel.errors?.maxlength">
                Šifra ne sme biti kraća od
                {{ getConfigValue('forms.validation.password.minLength') }}!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <label class="label col-12" for="input-rePassword">Ponovi šifru:</label>
          <div class="col-12">
            <input #retypePasswordModel="ngModel"
                   [(ngModel)]="retypePassword"
                   [attr.aria-invalid]="retypePasswordModel.invalid && retypePasswordModel.touched ? true : null"
                   [required]="getConfigValue('forms.validation.password.required')"
                   [status]="retypePasswordModel.dirty ? (retypePasswordModel.invalid || passwordModel.value !== retypePasswordModel.value  ? 'danger' : 'success') : 'basic'"
                   [type]="showPassword === 'eye' ? 'password' : 'text'"
                   fullWidth
                   id="input-rePassword"
                   name="rePass"
                   nbInput
                   placeholder="Potvrdi šifru"
                   tabindex="2">
          </div>
          <div class="col-12">
            <ng-container
              *ngIf="retypePasswordModel.invalid && passwordModel.touched">
              <p class="error-message mt-1 mb-0" *ngIf="retypePasswordModel.errors?.required">
                Ponovna šifra je obavezna!
              </p>
              <p class="error-message mt-1 mb-0" *ngIf="passwordModel.value !== retypePasswordModel.value">
                Šifra se ne poklapa sa već upisanom šifrom!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 d-flex justify-content-center ">
      <div class="col-8">
        <button status="success" size="large" type="submit" nbButton fullWidth>Promeni lozinku</button>
      </div>
    </div>
  </form>
</div>
