<nb-card class="col-12">
  <form #formStorage="ngForm" (ngSubmit)="updateStorage(formStorage)">
    <nb-card-header>
      <div class="row">
        <div class="col-1"><a routerLink=".." class=""><i class="fa fa-2x fa-arrow-left"></i></a>
        </div>
        <div class="col-9">
          <h5 class="text-center">{{storage.name}}</h5>
          <p class="text-center text-muted">{{storage.__t}}</p>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-storageName">Naziv skladišta:</label>
            </div>
            <div class="col-6">
              <input #storageName="ngModel"
                     [(ngModel)]="storage.name"
                     [ngModelOptions]="{standalone: true}"
                     [attr.aria-invalid]="storageName.invalid && storageName.touched ? true : null"
                     [maxlength]="getConfigValue('forms.validation.storageName.maxLength')"
                     [minlength]="getConfigValue('forms.validation.storageName.minLength')"
                     [required]="getConfigValue('forms.validation.storageName.required')"
                     [status]="storageName.dirty ? (storageName.invalid  ? 'danger' : 'success') : 'basic'"
                     fullWidth
                     id="input-storageName"
                     name="storageName"
                     nbInput
                     type="text">
              <ng-container *ngIf="storageName.invalid && storageName.touched">
                <p class="error-message mt-1 mb-0" *ngIf="storageName.errors?.required">
                  Naziv skladišta je obavezan!
                </p>
              </ng-container>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-adresa">Adresa Skladišta:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.address?.location?.townshipName + ', ' +
                storage.address?.location?.placeName + ', ' + storage?.address?.street"
                fullWidth
                id="input-adresa"
                name="adresa"
                nbInput
                type="text">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-storageSize">Veličina skladišta:</label>
            </div>
            <div class="col-5 pr-0">
              <input #storageSize="ngModel"
                     [(ngModel)]="storage.maxAmount"
                     [ngModelOptions]="{standalone: true}"
                     [attr.aria-invalid]="storageSize.invalid && storageSize.touched ? true : null"
                     [pattern]="getConfigValue('forms.validation.storageSize.pattern')"
                     [required]="getConfigValue('forms.validation.storageSize.required')"
                     [status]="storageSize.dirty ? (storageSize.invalid  ? 'danger' : 'success') : 'basic'"
                     fullWidth
                     id="input-storageSize"
                     name="storageSize"
                     nbInput
                     type="number">
              <ng-container *ngIf="storageSize.invalid && storageSize.touched">
                <p class="error-message mt-1 mb-0" *ngIf="storageSize.errors?.required">
                  Veličina skladišta je obavezna!
                </p>
              </ng-container>
            </div>
            <div class="col-1 pl-0">
              <button nbButton fullWidth disabled>{{storage.storageUnit}}</button>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row mb-2" *ngIf="storage.geolocationNorth !== undefined">
            <div class="col-12">
              <label class="label" for="input-geolocation">Geolokacija Skladišta:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.geolocationNorth + 'N' + storage.geolocationEast + 'E'"
                fullWidth
                id="input-geolocation"
                name="geolocation"
                nbInput
                type="text">
            </div>
          </div>
          <div class="row mb-2" *ngIf="storage.dumpType !== undefined">
            <div class="col-12">
              <label class="label" for="input-dumpType">Vrsta Deponije:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.dumpType"
                fullWidth
                id="input-dumpType"
                name="dumpType"
                nbInput
                type="text">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-companyName">Firma skladišta:</label>
            </div>
            <div class="col-5 pr-0">
              <input
                disabled
                [placeholder]="company?.name"
                fullWidth
                id="input-companyName"
                name="companyName"
                nbInput
                type="text">
            </div>
            <div class="col-1 pl-0">
              <button status="primary" nbButton fullWidth (click)="gotoCompany()"><i class="fa fa-link"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
         <storage-meter [storage]="storage"></storage-meter>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <button fullWidth nbButton status="primary" type="submit">SAČUVAJ</button>
        </div>
      </div>
    </nb-card-footer>
    <nb-card-header>Otpadi: </nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="mt-2" [settings]="settings"
                       [source]="storage?.trashes"
                       (editConfirm)="updateTrash($event, storage)"
                       (deleteConfirm)="deleteTrash($event, storage)"></ng2-smart-table>
    </nb-card-body>
  </form>
</nb-card>
