<nb-card class="col-12">
  <form #formSkladista="ngForm" (ngSubmit)="updateStorage(formSkladista)">
    <nb-card-header>
      <div class="row">
        <div class="col-1"><a routerLink=".." class=""><i class="fa fa-2x fa-arrow-left"></i></a>
        </div>
        <div class="col-9">
          <h5 class="text-center">{{storage.name}}</h5>
          <p class="text-center text-muted">{{storage.__t}}</p>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-naziv">Naziv skladišta:</label>
            </div>
            <div class="col-6">
              <input #naziv="ngModel"
                     [(ngModel)]="storage.name"
                     [ngModelOptions]="{standalone: true}"
                     [attr.aria-invalid]="naziv.invalid && naziv.touched ? true : null"
                     [maxlength]="getConfigValue('forms.validation.nazivFirme.maxLength')"
                     [minlength]="getConfigValue('forms.validation.nazivFirme.minLength')"
                     [required]="getConfigValue('forms.validation.nazivFirme.required')"
                     [status]="naziv.dirty ? (naziv.invalid  ? 'danger' : 'success') : 'basic'"
                     fullWidth
                     id="input-naziv"
                     name="naziv"
                     nbInput
                     type="text">
              <ng-container *ngIf="naziv.invalid && naziv.touched">
                <p class="error-message mt-1 mb-0" *ngIf="naziv.errors?.required">
                  Naziv skladišta je obavezan!
                </p>
              </ng-container>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-adresa">Adresa Skladišta:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.address.location.townshipName + ', ' +
                storage.address.location.placeName + ', ' + storage.address.street"
                fullWidth
                id="input-adresa"
                name="adresa"
                nbInput
                type="text">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-velicina">Veličina skladišta:</label>
            </div>
            <div class="col-6">
              <input #velicina="ngModel"
                     [(ngModel)]="storage.maxAmount"
                     [ngModelOptions]="{standalone: true}"
                     [attr.aria-invalid]="velicina.invalid && velicina.touched ? true : null"
                     [pattern]="getConfigValue('forms.validation.velicinaSkladista.pattern')"
                     [required]="getConfigValue('forms.validation.velicinaSkladista.required')"
                     [status]="velicina.dirty ? (velicina.invalid  ? 'danger' : 'success') : 'basic'"
                     fullWidth
                     id="input-velicina"
                     name="velicina"
                     nbInput
                     type="number">
              <ng-container *ngIf="velicina.invalid && velicina.touched">
                <p class="error-message mt-1 mb-0" *ngIf="velicina.errors?.required">
                  Veličina skladišta je obavezna!
                </p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row mb-2" *ngIf="storage.geolocationNorth !== undefined">
            <div class="col-12">
              <label class="label" for="input-geolokacijaN">Geolokacija Skladišta:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.geolocationNorth + 'N' + storage.geolocationEast + 'E'"
                fullWidth
                id="input-geolokacijaN"
                name="geolokacijaN"
                nbInput
                type="text">
            </div>
          </div>
          <div class="row mb-2" *ngIf="storage.dumpType !== undefined">
            <div class="col-12">
              <label class="label" for="input-vrsta">Vrsta Deponije:</label>
            </div>
            <div class="col-6">
              <input
                disabled
                [placeholder]="storage.dumpType"
                fullWidth
                id="input-vrsta"
                name="vrsta"
                nbInput
                type="text">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <label class="label" for="input-firma">Firma skladišta:</label>
            </div>
            <div class="col-5 pr-0">
              <input
                disabled
                [placeholder]="company.name"
                fullWidth
                id="input-firma"
                name="firma"
                nbInput
                type="text">
            </div>
            <div class="col-1 pl-0">
              <button status="primary" nbButton fullWidth (click)="gotoCompany()"><i class="fa fa-link"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <nb-progress-bar [value]="calculateValue()" [status]="calculateStatus()" size="large">
            {{storage.amount}}/{{storage.maxAmount}}
          </nb-progress-bar>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <button fullWidth nbButton status="primary" type="submit">SAČUVAJ</button>
        </div>
      </div>
    </nb-card-footer>
    <nb-card-body>
      <ng2-smart-table [settings]="settings"
                       [source]="storage?.trashes"
                       (editConfirm)="updateTrash($event, storage)"
                       (deleteConfirm)="deleteTrash($event, storage)"></ng2-smart-table>
    </nb-card-body>
  </form>
</nb-card>
