<div class="row my-1" *ngIf="permitType === 'transport' || permitType === 'collector'">
  <div class="col-12">
    <form #updatePermitForm>
      <div class="row">
        <div class="col-12">
          <label class="label" for="input-storageNo">Broj dozvola:</label>
        </div>
        <div class="col-12">
          <nb-button-group>
            <button (pressedChange)="updatePermits(1,undefined, $event)" nbButtonToggle>1</button>
            <button (pressedChange)="updatePermits(2, undefined,$event)" nbButtonToggle>2</button>
            <button (pressedChange)="updatePermits(3,undefined, $event)" nbButtonToggle>3</button>
            <button (pressedChange)="updatePermits(4, undefined,$event)" nbButtonToggle>4</button>
            <button (pressedChange)="updatePermits(5,undefined, $event)" nbButtonToggle>5</button>
            <button (pressedChange)="showPermitsInput = !showPermitsInput" nbButtonToggle>Više...</button>
            <input *ngIf="showPermitsInput" [(ngModel)]="storageNo" [ngModelOptions]="{standalone: true}"
                   fullWidth nbInput id="input-storageNo"
                   placeholder="0" step="1" type="number">
          </nb-button-group>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="permitsNo > 0" class="row mt-3">
  <div *ngFor="let permit of permits$ | async; let i = index" class="col-12">
    <form #permitForm="ngForm">
      <nb-card accent="success">
        <nb-card-body>

          <div class="row my-1">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-permitName">Naziv Dozvole:</label>
                </div>
                <div class="col-12">
                  <input #permitName="ngModel"
                         [(ngModel)]="permit.name"
                         [attr.aria-invalid]="permitName.invalid && permitName.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.permitName.maxLength')"
                         [minLength]="getConfigValue('forms.validation.permitName.minLength')"
                         [ngModelOptions]="{standalone: true}"
                         [required]="getConfigValue('forms.validation.permitName.required')"
                         [status]="permitName.dirty ? (permitName.invalid  ? 'danger' : 'success') : 'basic'"
                         autofocus
                         fullWidth
                         id="input-permitName"
                         name="permitName"
                         nbInput
                         placeholder="Dozvola #{{i + 1}}"></div>
                <div class="col-12">
                  <ng-container *ngIf="(permitName.invalid && permitName.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="permitName.errors?.required">
                      Naziv dozvole je obavezna!
                    </p>
                    <p class="error-message mt-1 mb-0"
                       *ngIf="permitName.errors?.maxLength || permitName.errors?.minLength">
                      Naziv dozvole mora biti duži od
                      {{ getConfigValue('forms.validation.permitName.minLength') }} slova!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-permitCode">Šifra Dozvole:</label>
                </div>
                <div class="col-12">
                  <input #permitCode="ngModel"
                         [(ngModel)]="permit.code"
                         [attr.aria-invalid]="permitCode.invalid && permitCode.touched ? true : null"
                         [ngModelOptions]="{standalone: true}"
                         [required]="getConfigValue('forms.validation.permitCode.required')"
                         [status]="permitCode.dirty ? (permitCode.invalid  ? 'danger' : 'success') : 'basic'"
                         fullWidth
                         id="input-permitCode"
                         name="permitCode"
                         nbInput
                         placeholder="Šifra">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(permitCode.invalid && permitCode.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="permitCode.errors?.required">
                      Šifra dozvole je obavezna!
                    </p>
                    <p class="error-message mt-1 mb-0"
                       *ngIf="permitCode.errors?.maxLength || permitCode.errors?.minLength">
                      Naziv dozvole mora biti duži od
                      {{ getConfigValue('forms.validation.permitCode.minLength') }} slova!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6 my-1" *ngIf="permitType !== 'transport' && permitType !== 'collector'">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-permitsStorage">Odaberi postrojenje:</label>
                </div>
                <div class="col-12">
                  <nb-select #permitsStorage="ngModel"
                             (ngModelChange)="setAddress(permit, permit.storage)"
                             [(ngModel)]="permit.storage"
                             [ngModelOptions]="{standalone: true}"
                             [status]="permitsStorage.dirty ? (permitsStorage.invalid  ? 'danger' : 'success') : 'basic'"
                             fullWidth
                             id="input-permitsStorage"
                             name="permitsStorage"
                             required>
                    <nb-option *ngFor="let s of storages$ | async" [value]="s">{{s.name}}</nb-option>
                  </nb-select>
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(permitsStorage.invalid && permitsStorage.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="permitsStorage.errors?.required">
                      Postrojenje za koje je vezana dozvola je obavezno!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-dateCreation">Datum izdavanja dozvole:</label>
                </div>
                <div class="col-12">
                  <input #dateCreation="ngModel"
                         [(ngModel)]="permit.dateCreation"
                         [attr.aria-invalid]="dateCreation.invalid && dateCreation.touched ? true : null"
                         [nbDatepicker]="dateCreationPicker"
                         [ngModelOptions]="{standalone: true}"
                         [required]="getConfigValue('forms.validation.date.required')"
                         [status]="!dateValid(permit) ? 'danger' : 'success'"
                         fullWidth
                         id="input-dateCreation"
                         name="dateCreation"
                         nbInput>
                  <nb-datepicker #dateCreationPicker></nb-datepicker>
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(!dateValid(permit)) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="dateCreation.errors?.required">
                      Datum nastanka dozvole je obavezan!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="!dateValid(permit)">
                      Datum nastanka dozvole ne može biti posle datum izdavanja!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-dateExpiration">Datum isteka dozvole:</label>
                </div>
                <div class="col-12">
                  <input #dateExpiration="ngModel"
                         [(ngModel)]="permit.dateExpiration"
                         [attr.aria-invalid]="dateExpiration.invalid && dateExpiration.touched ? true : null"
                         [nbDatepicker]="dateExpirationPicker"
                         [ngModelOptions]="{standalone: true}"
                         [required]="getConfigValue('forms.validation.date.required')"
                         [status]="!dateValid(permit) ? 'danger' : 'success'"
                         fullWidth
                         id="input-dateExpiration"
                         name="dateExpiration"
                         nbInput>
                  <nb-datepicker #dateExpirationPicker></nb-datepicker>
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(dateExpiration.invalid && dateExpiration.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="dateExpiration.errors?.required">
                      Datum isteka dozvole je obavezan!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-2">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <button nbButton status="success" type="button" [disabled]="permit.code === ''"
                          (click)="choosePermit(permit)">Odaberi otpade
                  </button>
                </div>
                <div class="col-12">
                  <ng-container *ngIf="checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="permit.trashList.length < 1">
                      Morate dodati bar jedan otpad na listu otpada dozvole!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
