<h1 class="text-center">Registruj se!</h1>
<nb-stepper disableStepNavigation selectedIndex="3">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma" completed="true"></nb-step>
  <nb-step label="Operacije" completed="true"></nb-step>
  <nb-step label="Informacije">
    <div *ngIf="proizvodnja">
      <ngx-proizvodnja></ngx-proizvodnja>
    </div>
    <div *ngIf="transport">
      <ngx-transport></ngx-transport>
    </div>
    <div *ngIf="tretman">
      <ngx-tretman></ngx-tretman>
    </div>
    <div *ngIf="odlaganje">
      <ngx-odlaganje></ngx-odlaganje>
    </div>
    <div *ngIf="skladistenje">
      <ngx-skladistenje></ngx-skladistenje>
    </div>
    <button nbButton
            fullWidth
            status="danger"
            routerLink="../register-operacije"
            class="mt-2 col-6">
      Nazad
    </button>
    <button nbButton
            fullWidth
            status="success"
            class="mt-2 col-6"
            routerLink="../register-potvrda"
    >
      Dalje
    </button>
  </nb-step>
  <nb-step label="Potvrda"></nb-step>
</nb-stepper>
