<h1 class="text-center">Registruj se!</h1>
<nb-stepper selectedIndex="1">
  <nb-step label="Korisnik" completed="true">Test</nb-step>
  <nb-step label="Firma">
    <form #form="ngForm">

      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-naziv">Naziv Firme:</label>
          <input nbInput
                 [(ngModel)]="firma.naziv"
                 #nazivFirme="ngModel"
                 id="input-naziv"
                 name="naziv"
                 placeholder="Naziv"
                 fullWidth
                 [status]="nazivFirme.dirty ? (nazivFirme.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [minlength]="getConfigValue('forms.validation.nazivFirme.minLength')"
                 [maxlength]="getConfigValue('forms.validation.nazivFirme.maxLength')"
                 [attr.aria-invalid]="nazivFirme.invalid && nazivFirme.touched ? true : null">
          <ng-container *ngIf="nazivFirme.invalid && nazivFirme.touched">
            <p class="error-message mt-1 mb-0" *ngIf="nazivFirme.errors?.required">
              Naziv firme je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="nazivFirme.errors?.minlength || nazivFirme.errors?.maxlength">
              Naziv firme mora biti duži od
              {{ getConfigValue('forms.validation.nazivFirme.minLength') }} slova!
            </p>
          </ng-container>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <label class="label" for="input-pib">PIB:</label>
          <input nbInput
                 [(ngModel)]="firma.pib"
                 #pib="ngModel"
                 id="input-pib"
                 name="pib"
                 placeholder="PIB"
                 fullWidth
                 [status]="pib.dirty ? (pib.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.pib.required')"
                 [minlength]="getConfigValue('forms.validation.pib.minLength')"
                 [maxlength]="getConfigValue('forms.validation.pib.maxLength')"
                 [pattern]="getConfigValue('forms.validation.pib.pattern')"
                 onkeypress="return /[0-9]/i.test(event.key)"
                 [attr.aria-invalid]="pib.invalid && pib.touched ? true : null">
          <ng-container *ngIf="pib.invalid && pib.touched">
            <p class="error-message mt-1 mb-0" *ngIf="pib.errors?.required">
              PIB je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="pib.errors?.minlength">
              PIB mora da bude validan!
            </p>
          </ng-container>
        </div>
        <div class="col-6">
          <label class="label" for="input-pib">Matični broj:</label>
          <input nbInput
                 [(ngModel)]="firma.mat"
                 #mat="ngModel"
                 id="input-mat"
                 name="mat"
                 placeholder="Matični broj"
                 fullWidth
                 [status]="mat.dirty ? (mat.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.mat.required')"
                 [minlength]="getConfigValue('forms.validation.mat.minLength')"
                 [maxlength]="getConfigValue('forms.validation.mat.maxLength')"
                 [pattern]="getConfigValue('forms.validation.mat.pattern')"
                 onkeypress="return /[0-9]/i.test(event.key)"
                 [attr.aria-invalid]="mat.invalid && mat.touched ? true : null">
          <ng-container *ngIf="mat.invalid && mat.touched">
            <p class="error-message mt-1 mb-0" *ngIf="mat.errors?.required">
              Matični broj je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="pib.errors?.minlength">
              Matični broj mora da bude validan!
            </p>
          </ng-container>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <label class="label" for="input-adresa">Adresa:</label>
          <div class="row ml-2" id="input-adresa">
            <div class="col-6">
              <nb-select-label class="label" for="input-opstinaFirma">Opština:</nb-select-label>
              <input
                [(ngModel)]="firma.adresa.mesto.opstinaNaziv"
                #opstinaFirma="ngModel"
                id="input-opstinaFirma"
                (ngModelChange)="findOpstina($event)"
                name="opstinaFirma"
                nbInput
                autocomplete="off"
                placeholder="Opština"
                fullWidth
                [required]="getConfigValue('forms.validation.opstina.required')"
                [attr.aria-invalid]="opstinaFirma.invalid && opstinaFirma.touched ? true : null"
                [nbAutocomplete]="autoOpstinaSelect">
              <nb-autocomplete #autoOpstinaSelect>
                <nb-option *ngFor="let o of opstine$ | async" [value]="o">{{o}}</nb-option>
              </nb-autocomplete>
              <ng-container *ngIf="opstinaFirma.invalid && opstinaFirma.touched">
                <p class="error-message mt-1 mb-0" *ngIf="opstinaFirma.errors?.required">
                  Opština je obavezna!
                </p>
              </ng-container>
            </div>
            <div class="col-6">
              <nb-select-label class="label" for="input-mestoFirma">Mesto:</nb-select-label>
              <input
                [(ngModel)]="firma.adresa.mesto.mestoNaziv"
                #mestoFirma="ngModel"
                nbInput
                (ngModelChange)="findMesta($event)"
                id="input-mestoFirma"
                autocomplete="off"
                name="mestoFirma"
                placeholder="Mesto"
                fullWidth
                [required]="getConfigValue('forms.validation.mesto.required')"
                [attr.aria-invalid]="mestoFirma.invalid && mestoFirma.touched ? true : null"
                [nbAutocomplete]="autoMestoSelect">
              <nb-autocomplete #autoMestoSelect>
                <nb-option>
                  <nb-option *ngFor="let m of mesta$ | async" [value]="m">{{m}}</nb-option>
                </nb-option>
              </nb-autocomplete>
              <ng-container *ngIf="mestoFirma.invalid && mestoFirma.touched">
                <p class="error-message mt-1 mb-0" *ngIf="mestoFirma.errors?.required">
                  Mesto je obavezno!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="row ml-2 mt-2">
            <div class="col-3">
              <label class="label" for="input-postanskiBroj">Poštanski broj:</label>
              <input nbInput
                     name="postanskiBrojFirme"
                     [(ngModel)]="firma.adresa.mesto.postanskiBroj"
                     #postanskiBroj="ngModel"
                     id="input-postanskiBroj"
                     placeholder="Poštanski broj"
                     fullWidth
                     onkeypress="return /[0-9]/i.test(event.key)"
                     [status]="postanskiBroj.dirty ? (postanskiBroj.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.postanskiBroj.required')"
                     [minlength]="getConfigValue('forms.validation.postanskiBroj.minLength')"
                     [maxlength]="getConfigValue('forms.validation.postanskiBroj.maxLength')"
                     [attr.aria-invalid]="postanskiBroj.invalid && postanskiBroj.touched ? true : null">
              <ng-container *ngIf="postanskiBroj.invalid && postanskiBroj.touched">
                <p class="error-message mt-1 mb-0" *ngIf="postanskiBroj.errors?.required">
                  Poštanski broj je obavezan
                </p>
                <p class="error-message mt-1 mb-0"
                   *ngIf="postanskiBroj.errors?.minlength || postanskiBroj.errors?.maxlength">
                  Poštanski broj mora biti duži od
                  {{ getConfigValue('forms.validation.postanskiBroj.minLength') }} brojeva!
                </p>
              </ng-container>
            </div>
            <div class="col-9">
              <label class="label" for="input-ulicaFirme">Ulica i broj:</label>
              <input nbInput
                     name="ulicaFirme"
                     [(ngModel)]="firma.adresa.ulica"
                     #ulica="ngModel"
                     id="input-ulicaFirme"
                     placeholder="Ulica i broj"
                     fullWidth
                     [status]="ulica.dirty ? (ulica.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.ulica.required')"
                     [minlength]="getConfigValue('forms.validation.ulica.minLength')"
                     [maxlength]="getConfigValue('forms.validation.ulica.maxLength')"
                     [attr.aria-invalid]="ulica.invalid && ulica.touched ? true : null">
              <ng-container *ngIf="ulica.invalid && ulica.touched">
                <p class="error-message mt-1 mb-0" *ngIf="ulica.errors?.required">
                  Ulica je obavezna!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <nb-select-label class="label" for="input-delatnost">Šifra delatnosti:</nb-select-label>
          <input
            nbInput
            [(ngModel)]="firma.delatnost.naziv"
            #delatnost="ngModel"
            id="input-delatnost"
            name="delatnost"
            (ngModelChange)="findDelatnost($event)"
            autocomplete="off"
            placeholder="Delatnost"
            fullWidth
            [nbAutocomplete]="autoDelatnostSelect"
            [required]="getConfigValue('forms.validation.delatnost.required')"
            [attr.aria-invalid]="delatnost.invalid && delatnost.touched ? true : null">
          <nb-autocomplete #autoDelatnostSelect>
            <nb-option  *ngFor="let d of delatnosti$ | async" [value]="d.naziv">{{d.sifra}}|{{d.naziv}}</nb-option>
          </nb-autocomplete>
          <ng-container *ngIf="delatnost.invalid && delatnost.touched">
            <p class="error-message mt-1 mb-0" *ngIf="delatnost.errors?.required">
              Šifra delatnosti je obavezna!
            </p>
          </ng-container>
        </div>
      </div>


      <div class="row mb-2">
        <div class="col-4">
          <label class="label" for="input-emailFirme">Email firme:</label>
          <input nbInput
                 [(ngModel)]="firma.email"
                 #emailFirma="ngModel"
                 id="input-emailFirme"
                 name="email"
                 pattern=".+@.+..+"
                 placeholder="Email firme"
                 fullWidth
                 [status]="emailFirma.dirty ? (emailFirma.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [attr.aria-invalid]="emailFirma.invalid && emailFirma.touched ? true : null">
          <ng-container *ngIf="emailFirma.invalid && emailFirma.touched">
            <p class="error-message mt-1 mb-0" *ngIf="emailFirma.errors?.required">
              Email je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="emailFirma.errors?.pattern">
              Email mora biti validan!
            </p>
          </ng-container>
        </div>
        <div class="col-4">
          <label class="label" for="input-telefonFirme">Telefon firme:</label>
          <input nbInput
                 [(ngModel)]="firma.telefon"
                 #telefonFirme="ngModel"
                 id="input-telefonFirme"
                 name="telefon"
                 placeholder="Telefon firme"
                 fullWidth
                 onkeypress="return /[0-9]/i.test(event.key)"
                 maxlength="12"
                 [status]="telefonFirme.dirty ? (telefonFirme.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.telefon.required')"
                 [minlength]="getConfigValue('forms.validation.telefon.minLength')"
                 [maxlength]="getConfigValue('forms.validation.telefon.maxLength')"
                 [attr.aria-invalid]="telefonFirme.invalid && telefonFirme.touched ? true : null">
          <ng-container *ngIf="telefonFirme.invalid && telefonFirme.touched">
            <p class="error-message mt-1 mb-0" *ngIf="telefonFirme.errors?.required">
              Telefon firme je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="telefonFirme.errors?.minlength || telefonFirme.errors?.maxlength">
              Telefon firme mora biti validan!
            </p>
          </ng-container>
        </div>
        <div class="col-4">
          <label class="label" for="input-faksFirma">Faks firme:</label>
          <input nbInput
                 [(ngModel)]="firma.faks"
                 #faksFirma="ngModel"
                 id="input-faksFirma"
                 name="faksFirma"
                 placeholder="Faks firme"
                 fullWidth
                 onkeypress="return /[0-9]/i.test(event.key)"
                 maxlength="12"
                 [attr.aria-invalid]="faksFirma.invalid && faksFirma.touched ? true : null">
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6">
          <nb-select-label class="label" for="input-emailPrijem">Birajte email za prijem dokumenata:
          </nb-select-label>
          <nb-select [(ngModel)]="firma.emailPrijem"
                     #emailPrijem="ngModel"
                     id="input-emailPrijem"
                     name="emailPrijem"
                     placeholder="Email za prijem dokumenata"
                     fullWidth
                     [selected]="firma.email"
                     [status]="emailPrijem.invalid  ? 'danger' : 'success'"
                     [required]="getConfigValue('forms.validation.email.required')"
                     [attr.aria-invalid]="emailPrijem.invalid && emailPrijem.touched ? true : null">
            <nb-option [value]="firma.email" >{{firma.email}}</nb-option>
            <nb-option [value]="korisnik?.email">{{korisnik?.email}}</nb-option>
            <nb-option [value]="firma.emailPrijem" #drugiEmail>Drugi email</nb-option>
          </nb-select>
          <ng-container *ngIf="emailPrijem.invalid && emailPrijem.touched">
            <p class="error-message mt-1 mb-0" *ngIf="emailPrijem.errors?.required">
              Email je obavezan!
            </p>
          </ng-container>
        </div>
        <div class="col-6" *ngIf="drugiEmail.selected">
          <label class="label" for="input-emailPrijem2">Unesite vaš email za prijem dokumenata:</label>
          <input nbInput
                 [(ngModel)]="firma.emailPrijem"
                 #emailPrijem2="ngModel"
                 id="input-emailPrijem2"
                 name="emailPrijem2"
                 pattern=".+@.+..+"
                 placeholder="Email za prijem dokumenata"
                 fullWidth
                 [status]="emailPrijem2.dirty ? (emailPrijem2.invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.email.required')"
                 [attr.aria-invalid]="emailPrijem2.invalid && emailPrijem2.touched ? true : null">
          <ng-container *ngIf="emailPrijem2.invalid && emailPrijem2.touched">
            <p class="error-message mt-1 mb-0" *ngIf="emailPrijem2.errors?.required">
              Email je obavezan!
            </p>
            <p class="error-message mt-1 mb-0" *ngIf="emailPrijem2.errors?.pattern">
              Email mora biti validan!
            </p>
          </ng-container>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-12">
          <label class="label pl-0 col-12">Puno ime zakonskog zastupnika firme:</label>
          <div class="row ml-2">
            <div class="col-6">
              <label class="label" for="input-ime">Ime:</label>
              <input nbInput
                     [(ngModel)]="imeZakonskogZastupinka"
                     #ime="ngModel"
                     (ngModelChange)="spojIme($event)"
                     id="input-ime"
                     name="ime"
                     placeholder="Ime"
                     fullWidth
                     [status]="ime.dirty ? (ime.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.ime.required')"
                     [minlength]="getConfigValue('forms.validation.ime.minLength')"
                     [maxlength]="getConfigValue('forms.validation.ime.maxLength')"
                     [attr.aria-invalid]="ime.invalid && ime.touched ? true : null">
              <ng-container *ngIf="ime.invalid && ime.touched">
                <p class="error-message mt-1 mb-0" *ngIf="ime.errors?.required">
                  Ime zakonskog zastupnika je obavezno!
                </p>
                <p class="error-message mt-1 mb-0" *ngIf="ime.errors?.minlength || ime.errors?.maxlength">
                  Ime zakonskog zastupnika mora biti duže od
                  {{ getConfigValue('forms.validation.nazivFirme.minLength') }} slova!
                </p>
              </ng-container>
            </div>
            <div class="col-6">
              <label class="label" for="input-prezime">Prezime:</label>
              <input nbInput
                     [(ngModel)]="prezimeZakonskogZastupinka"
                     #prezime="ngModel"
                     (ngModelChange)="spojPrezime($event)"
                     id="input-prezime"
                     name="prezime"
                     placeholder="Prezime"
                     fullWidth
                     [status]="prezime.dirty ? (prezime.invalid  ? 'danger' : 'success') : ''"
                     [required]="getConfigValue('forms.validation.prezime.required')"
                     [minlength]="getConfigValue('forms.validation.prezime.minLength')"
                     [maxlength]="getConfigValue('forms.validation.prezime.maxLength')"
                     [attr.aria-invalid]="prezime.invalid && prezime.touched ? true : null">
              <ng-container *ngIf="prezime.invalid && prezime.touched">
                <p class="error-message mt-1 mb-0" *ngIf="prezime.errors?.required">
                  Prezime zakonskog zastupnika je obavezno!
                </p>
                <p class="error-message mt-1 mb-0" *ngIf="prezime.errors?.minlength || prezime.errors?.maxlength">
                  Prezime zakonskog zastupnika mora biti duže od
                  {{ getConfigValue('forms.validation.nazivFirme.minLength') }} slova!
                </p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <button nbButton
              fullWidth
              status="danger"
              routerLink="../register-korisnik"
              class="mt-2 col-6">
        Nazad
      </button>
      <button nbButton
              fullWidth
              status="success"
              class="mt-2 col-6"
              routerLink="../register-operacije"
              [disabled]="!form.valid">
        Dalje
      </button>
    </form>
  </nb-step>
  <nb-step label="Operacije"></nb-step>
  <nb-step label="Informacije"></nb-step>
  <nb-step label="Potvrda"></nb-step>
</nb-stepper>
