<form #form="ngForm">

  <div class="row mb-2">
    <div class="col-6">
      <label class="label" for="input-ime">Ime:</label>
      <input nbInput
             [(ngModel)]="korisnik.ime"
             #ime="ngModel"
             id="input-ime"
             name="ime"
             placeholder="Ime"
             autofocus
             fullWidth
             [status]="ime.dirty ? (ime.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.ime.required')"
             [minlength]="getConfigValue('forms.validation.ime.minLength')"
             [maxlength]="getConfigValue('forms.validation.ime.maxLength')"
             [pattern]="getConfigValue('forms.validation.ime.pattern')"
             onkeypress="return /[a-z]/i.test(event.key)"
             [attr.aria-invalid]="ime.invalid && ime.touched ? true : null">
      <ng-container *ngIf="ime.invalid && ime.touched">
        <p class="error-message mt-1 mb-0" *ngIf="ime.errors?.required">
          Ime je obavezno!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="ime.errors?.minlength || ime.errors?.maxlength">
          Ime mora da bude duže od
          {{ getConfigValue('forms.validation.ime.minLength') }}
          a kraće od {{ getConfigValue('forms.validation.ime.maxLength') }}
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="ime.errors?.pattern">
          Ime mora biti validno!
        </p>
      </ng-container>
    </div>
    <div class="col-6">
      <label class="label" for="input-prezime">Prezime:</label>
      <input nbInput
             [(ngModel)]="korisnik.prezime"
             #prezime="ngModel"
             id="input-prezime"
             name="prezime"
             placeholder="Prezime"
             autofocus
             fullWidth
             [status]="prezime.dirty ? (prezime.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.prezime.required')"
             [minlength]="getConfigValue('forms.validation.prezime.minLength')"
             [maxlength]="getConfigValue('forms.validation.prezime.maxLength')"
             [pattern]="getConfigValue('forms.validation.prezime.pattern')"
             onkeypress="return /[a-z\-]/i.test(event.key)"
             [attr.aria-invalid]="prezime.invalid && prezime.touched ? true : null">
      <ng-container *ngIf="prezime.invalid && prezime.touched">
        <p class="error-message mt-1 mb-0" *ngIf="prezime.errors?.required">
          Prezime je obavezno!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="prezime.errors?.minlength">
          Prezime mora da bude duže od
          {{ getConfigValue('forms.validation.prezime.minLength') }}
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="prezime.errors?.pattern">
          Prezime mora biti validno!
        </p>
      </ng-container>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-6">
      <label class="label" for="input-korisnickoIme">Korisničko ime:</label>
      <input nbInput
             [(ngModel)]="korisnik.korisnickoIme"
             #korisnickoIme="ngModel"
             id="input-korisnickoIme"
             name="korisnickoIme"
             placeholder="Korisničko ime"
             fullWidth
             [status]="korisnickoIme.dirty ? (korisnickoIme.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.korisnickoIme.required')"
             [minlength]="getConfigValue('forms.validation.korisnickoIme.minLength')"
             [maxlength]="getConfigValue('forms.validation.korisnickoIme.maxLength')"
             [attr.aria-invalid]="korisnickoIme.invalid && korisnickoIme.touched ? true : null">
      <ng-container *ngIf="korisnickoIme.invalid && korisnickoIme.touched">
        <p class="error-message mt-1 mb-0" *ngIf="korisnickoIme.errors?.required">
          Korisničko ime je obavezan!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="korisnickoIme.errors?.minlength || korisnickoIme.errors?.maxlength">
          Korisničko ime mora biti duže od
          {{ getConfigValue('forms.validation.korisnickoIme.minLength') }}!
        </p>
      </ng-container>
    </div>
    <div class="col-6">
      <label class="label" for="input-telefon">Telefon:</label>
      <input nbInput
             [(ngModel)]="korisnik.telefon"
             #telefon="ngModel"
             id="input-telefon"
             name="telefon"
             placeholder="Telefon"
             fullWidth
             [status]="telefon.dirty ? (telefon.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.telefon.required')"
             [minlength]="getConfigValue('forms.validation.telefon.minLength')"
             [maxlength]="getConfigValue('forms.validation.telefon.maxLength')"
             [attr.aria-invalid]="telefon.invalid && telefon.touched ? true : null">
      <ng-container *ngIf="telefon.invalid && telefon.touched">
        <p class="error-message mt-1 mb-0" *ngIf="telefon.errors?.required">
          Telefon je obavezan!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="telefon.errors?.minlength || telefon.errors?.maxlength">
          Telefon mora biti validan!
        </p>
      </ng-container>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <label class="label" for="input-email">Email:</label>
      <input nbInput
             [(ngModel)]="korisnik.email"
             #email="ngModel"
             id="input-email"
             name="email"
             pattern=".+@.+..+"
             placeholder="Email"
             fullWidth
             [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.email.required')"
             [attr.aria-invalid]="email.invalid && email.touched ? true : null">
      <ng-container *ngIf="email.invalid && email.touched">
        <p class="error-message mt-1 mb-0" *ngIf="email.errors?.required">
          Email je obavezan!
        </p>
      </ng-container>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-6">
      <label class="label" for="input-password">Šifra:</label>
      <input nbInput
             [(ngModel)]="korisnik.sifra"
             #password="ngModel"
             type="password"
             id="input-password"
             name="password"
             placeholder="Šifra"
             fullWidth
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')"
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      <ng-container *ngIf="password.invalid && password.touched">
        <p class="error-message mt-1 mb-0" *ngIf="password.errors?.required">
          Šifra je obavezna!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="password.errors?.minlength || password.errors?.maxlength">
          Šifra ne sme biti kraća od
          {{ getConfigValue('forms.validation.password.minLength') }}!
        </p>
      </ng-container>
    </div>
    <div class="col-6">
      <label class="label" for="input-re-password">Ponovi šifru:</label>
      <input nbInput
             [(ngModel)]="reSifra"
             #rePass="ngModel"
             type="password"
             id="input-re-password"
             name="rePass"
             placeholder="Potvrdi šifru"
             fullWidth
             [status]="rePass.dirty ? (rePass.invalid || password.value != rePass.value  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.password.required')"
             [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
      <ng-container *ngIf="rePass.invalid && rePass.touched">
        <p class="error-message mt-1 mb-0" *ngIf="rePass.errors?.required">
          Ponovna šifra je obavezna!
        </p>
        <p class="error-message mt-1 mb-0" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          Šifra se ne poklapa sa već upisanom šifrom!
        </p>
      </ng-container>
    </div>
  </div>

  <button nbButton
          nbStepperNext
          fullWidth
          status="success"
          class="mt-2"
          [disabled]="!form.valid">
    Dalje
  </button>
</form>
