:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: dodgerblue;
  cursor: pointer;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 60px;
  text-align: center;
}
.edit-button {
  font-size: 2rem;
}

.edit-button:hover {
  color: dodgerblue;
  cursor: pointer;
}
