<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Registruj se!</h1>
    </div>
  </div>

  <div class="col-12">
    <nb-stepper disableStepNavigation>
      <nb-step label="Korisnik">
        <form #userForm="ngForm" tabindex="-1">

          <div class="row my-1">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-firstName">Ime:</label></div>
                <div class="col-12">
                  <input #firstName="ngModel"
                         [(ngModel)]="user.firstName"
                         [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
                         [minlength]="getConfigValue('forms.validation.firstName.minLength')"
                         [pattern]="getConfigValue('forms.validation.firstName.pattern')"
                         [required]="getConfigValue('forms.validation.firstName.required')"
                         [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : 'basic'"
                         autofocus
                         fullWidth
                         id="input-firstName"
                         name="firstName"
                         nbInput
                         onkeypress="return /[a-zA-ZčćžđšŠĐŽĆČ]/i.test(event.key)"
                         placeholder="Ime"
                         tabindex="1">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(firstName.invalid && firstName.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="firstName.errors?.required">
                      Ime je obavezno!
                    </p>
                    <p class="error-message mt-1 mb-0"
                       *ngIf="firstName.errors?.minlength || firstName.errors?.maxlength">
                      Ime mora da bude duže od
                      {{ getConfigValue('forms.validation.firstName.minLength') }}
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="firstName.errors?.pattern">
                      Ime mora biti validno!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-lastName">Prezime:</label>
                </div>
                <div class="col-12">
                  <input #lastName="ngModel"
                         [(ngModel)]="user.lastName"
                         [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
                         [minlength]="getConfigValue('forms.validation.lastName.minLength')"
                         [pattern]="getConfigValue('forms.validation.lastName.pattern')"
                         [required]="getConfigValue('forms.validation.lastName.required')"
                         [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : 'basic'"
                         fullWidth
                         id="input-lastName"
                         name="lastName"
                         nbInput
                         onkeypress="return /[a-zA-ZšđžćčŠĐŽĆČ\-]/i.test(event.key)"
                         placeholder="Prezime"
                         tabindex="2">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(lastName.invalid && lastName.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="lastName.errors?.required">
                      Prezime je obavezno!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="lastName.errors?.minlength">
                      Prezime mora da bude duže od
                      {{ getConfigValue('forms.validation.lastName.minLength') }}
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="lastName.errors?.pattern">
                      Prezime mora biti validno!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-username">Korisničko ime:</label>
                </div>
                <div class="col-12">
                  <input #username="ngModel"
                         [(ngModel)]="user.username"
                         [attr.aria-invalid]="username.invalid && username.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.username.maxLength')"
                         [minlength]="getConfigValue('forms.validation.username.minLength')"
                         [pattern]="getConfigValue('forms.validation.username.pattern')"
                         [required]="getConfigValue('forms.validation.username.required')"
                         [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'basic'"
                         fullWidth
                         id="input-username"
                         name="username"
                         nbInput
                         placeholder="Korisničko ime"
                         tabindex="3">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(username.invalid && username.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="username.errors?.required">
                      Korisničko ime je obavezno!
                    </p>
                    <p class="error-message mt-1 mb-0"
                       *ngIf="username.errors?.minlength || username.errors?.maxlength">
                      Korisničko ime mora biti duže od
                      {{ getConfigValue('forms.validation.username.minLength') }}!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="username.errors?.pattern">
                      Korisničko ime mora biti validno! Ne sme imati razmaka ili karaktere '@!?'.
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-telephone">Telefon:</label>
                </div>
                <div class="col-12">
                  <input #telephone="ngModel"
                         [(ngModel)]="user.phone"
                         [attr.aria-invalid]="telephone.invalid && telephone.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.telephone.maxLength')"
                         [minlength]="getConfigValue('forms.validation.telephone.minLength')"
                         [required]="getConfigValue('forms.validation.telephone.required')"
                         [status]="telephone.dirty ? (telephone.invalid  ? 'danger' : 'success') : 'basic'"
                         fullWidth
                         id="input-telephone"
                         name="phone"
                         nbInput
                         onkeypress="return /[0-9]/i.test(event.key)"
                         placeholder="Telefon"
                         tabindex="4">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(telephone.invalid && telephone.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="telephone.errors?.required">
                      Telefon je obavezan!
                    </p>
                    <p class="error-message mt-1 mb-0"
                       *ngIf="telephone.errors?.minlength || telephone.errors?.maxlength">
                      Telefon mora biti validan!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-email">Email:
                    <i class="fa fa-info-circle"
                       [nbTooltip]="'Email ne delimo, on služi za lakšu komunikaciju sa nama.'"></i>
                  </label>
                </div>
                <div class="col-12">
                  <input #email="ngModel"
                         [(ngModel)]="user.email"
                         tabindex="5"
                         [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                         [pattern]="getConfigValue('forms.validation.email.pattern')"
                         [required]="getConfigValue('forms.validation.email.required')"
                         [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                         fullWidth
                         id="input-email"
                         name="email"
                         nbInput
                         placeholder="Email">
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(email.invalid && email.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="email.errors?.required">
                      Email je obavezan!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="email.errors?.pattern">
                      Email mora biti validan!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-1">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-password">Šifra:
                    <i class="fa fa-info-circle"
                       [nbTooltip]="'Unesite minimum 6 karaktera za kreiranje lozinke. Preporuka je da Vaša lozinka ima više od 8 karaktera da bi bila što bezbednija, koristite znakove kao što su !,@,$...'"></i>
                  </label>
                </div>
                <div class="col-10 pr-0">
                  <input #password="ngModel"
                         [(ngModel)]="user.password"
                         [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                         [minlength]="getConfigValue('forms.validation.password.minLength')"
                         [pattern]="getConfigValue('forms.validation.password.pattern')"
                         [required]="getConfigValue('forms.validation.password.required')"
                         [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                         [type]="showPassword === 'eye' ? 'password' : 'text'"
                         fullWidth
                         id="input-password"
                         name="password"
                         nbInput
                         placeholder="Šifra"
                         tabindex="6">
                </div>
                <div class="col-2 pl-0">
                  <button fullWidth tabindex="-1" nbButton type="button"
                          (click)="this.showPassword = this.showPassword === 'eye' ? 'eye-off' : 'eye';">
                    <nb-icon [icon]="showPassword"></nb-icon>
                  </button>
                </div>
                <div class="col-12">
                  <ng-container *ngIf="(password.invalid && password.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="password.errors?.required">
                      Šifra je obavezna!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                      Šifra ne sme biti kraća od
                      {{ getConfigValue('forms.validation.password.minLength') }}!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="password.errors?.pattern">
                      Šifra mora biti validna! Ne sme imati razmake!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <label class="label" for="input-rePassword">Ponovi šifru:</label>
                </div>
                <div class="col-12">
                  <input #retypePasswordModel="ngModel"
                         [(ngModel)]="retypePassword"
                         [attr.aria-invalid]="retypePasswordModel.invalid && retypePasswordModel.touched ? true : null"
                         [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                         [minlength]="getConfigValue('forms.validation.password.minLength')"
                         [pattern]="getConfigValue('forms.validation.password.pattern')"
                         [required]="getConfigValue('forms.validation.password.required')"
                         [status]="retypePasswordModel.dirty ? (retypePasswordModel.invalid || password.value !== retypePasswordModel.value  ? 'danger' : 'success') : 'basic'"
                         [type]="showPassword === 'eye' ? 'password' : 'text'"
                         fullWidth
                         id="input-rePassword"
                         name="rePass"
                         nbInput
                         placeholder="Potvrdi šifru"
                         tabindex="7">
                </div>
                <div class="col-12">
                  <ng-container
                    *ngIf="(retypePasswordModel.invalid && password.touched || retypePasswordModel.touched) || checkIssues">
                    <p class="error-message mt-1 mb-0" *ngIf="retypePasswordModel.errors?.required">
                      Ponovna šifra je obavezna!
                    </p>
                    <p class="error-message mt-1 mb-0" *ngIf="password.value !== retypePasswordModel.value">
                      Šifra se ne poklapa sa već upisanom šifrom!
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <button nbButton
                      fullWidth
                      status="success"
                      tabindex="8"
                      type="submit"
                      (click)="validateUser(userForm)">
                Dalje
              </button>
            </div>
          </div>

        </form>
      </nb-step>
      <nb-step label="Firma"></nb-step>
      <nb-step label="Operacije"></nb-step>
      <nb-step label="Informacije"></nb-step>
      <nb-step label="Potvrda"></nb-step>
    </nb-stepper>
  </div>

  <div class="col-12">
    <section class="text-center" aria-label="Uloguj se">
      Već imate nalog? <a class="text-link" routerLink="../login">Uloguj se</a>
    </section>
  </div>
</div>
