:host ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: dodgerblue;
  cursor: pointer;
}
i:hover {
  color: dodgerblue;
  cursor: pointer;
}
:host ng2-st-tbody-edit-delete {display: flex !important;
  height: 0 !important;
}

:host ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 25%;
  text-align: center;
  margin-left: 5px;
  font-size: 1.1em;
}
