<h1 class="text-center">DIER USLOVI KORIŠĆENJA</h1>
<div style="max-height: 50vh; text-align: justify;">
  Ovi uslovi korišćenja se odnose na svakoga ko želi da koristi aplikaciju (u daljem tekstu "DIERS Aplikacija"), čija je
  svrha da olakša zakonsku obavezu vođenja dnevnih evidencija o otpadu, posebnim tokovima otapda i dostavljanje
  godišnjih izveštaja Agenciji za zaštitu životne sredine Republike Srbije (u daljem tekstu "Agencija").<br><br>
  Korišćenjem aplikacije <a href="https://www.app.dier.rs">https://www.app.dier.rs</a> smatra se da ste u potpunosti
  upoznati i saglasni sa ovde navedenim
  Uslovima korišćenja. Ukoliko se sa istima ne slažete i ne prihvatate ih, molimo Vas da ne koristite ovu internet
  stranicu.<br><br>
  Uslovi korišćenja odnose se na korišćenje internet stranica <a
  href="https://www.app.dier.rs">https://www.app.dier.rs</a> od strane korisnika. Svakim daljim
  korišćenjem ovih Internet stranica nakon upoznavanja sa Uslovima korišćenja, smatra se da su korisnici saglasni sa
  ovde navedenim uslovima i pravilima i da pristaju na korišćenje Internet stranica u skladu sa tim uslovima.<br><br>
  Predmetne izmene mogu između ostalog uključivati i uvođenje određenih naknada ili naplata, stoga savetujemo korisnike
  da periodično ponovo detaljno pročitaju informacije sadržane u Uslovima korišćenja kako bi bili informisani o
  eventualnim promenama.<br><br>
  U slučaju da dođe do promene Uslova korišćenja, a korisnik nastavi da koristi našu internet stranicu, smatra se da
  prihvata Uslove korišćenja u izmenjenom obliku. Svaka eventualna izmena ili brisanje uslova korišćenja važeća je za
  treća lica odmah po objavi na internet stranici <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>. Svako
  korišćenje, osim upoznavanja sa
  izmenama uslova, predmetnih internet stranica od strane krajnjeg korisnika nakon takve promene podrazumevaće se kao
  prihvatanje tih promena.<br><br>
  Korisnik je isključivo odgovoran za nabavku i održavanje svoje računarske opreme, uključujući celokupan hardver i
  softver koji poseduje i koji koristi, kao i drugu opremu potrebnu za pristup i korišćenje internet stranice
  https://www.app.dier.rs, isto tako samostalno snosi i sve troškove vezane za to. DIER isključuje svaku odgovornost za
  bilo kakva oštećenja opreme i drugih stvari krajnjeg korisnika koja eventualno mogu nastati kao posledica korišćenja
  internet stranice <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>.<br><br>
  Korišćenjem internet stranice https://www.app.dier.rs od strane korisnika, smatra se da je korisnik saglasan da sva
  komunikacija i interakcija koja se odvija putem internet stranice <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>
  mora biti u skladu sa ovim
  Uslovima korišćenja. Korisnici ne smeju putem ovih internet stranica objavljivati, prenositi ili činiti dostupnim na
  bilo koji način nikakve materijale čijim sadržajem se krše prava drugih, na primer, sadržaj koji je uvredljiv,
  klevetnički, koji narušava ili ugrožava privatnost itd..., kao ni materijale nezakonitog sadržaja i forme. DIER
  zadržava diskreciono pravo da samo oceni da li je došlo do povrede obaveza od strane korisnika.
  <br><br>
  Korisnik ne sme bez prethodnog pismenog odobrenja DIERS objavljivati, prenositi ili činiti dostupnim na bilo koji
  način sadržaj oglasa, reklame ili ponude bilo čijih proizvoda i usluga, kao ni versku, političku i nekomercijalnu
  promociju, a posebno ne sme vrbovati druge korisnike internet stranica <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>
  da postanu korisnici
  druge usluge koja je direktna ili indirektna konkurencija DIER.<br><br>
  DIER zadržava diskreciono pravo da samostalno oceni da li je došlo do povrede obaveza od strane korisnika.<br><br>
  Zabranjena je bilo kakva distribucija, kopiranje, prenos, povezivanje, objavljivanje ili na bilo koji način menjanje
  ovih internet stranica bez pismenog odobrenja DIER. Svako kršenje spomenute zabrane može imati za posledicu povredu
  autorskih prava, prava pečata, ili nekog drugog prava pa stoga može da proizvede neželjene efekte kao što su
  pokretanja više vrsta sudskih postupaka, a posebno može dovesti do krivičnog gonjenja.<br><br>
  Korisnik ne sme menjati, objavljivati, prenositi, učestvovati u prenosu ili prodaji ili na bilo koji drugi način
  iskorišćavati bilo koji sadržaj sa internet stranice <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>, u
  celosti ili delimično. Takođe nije
  dozvoljeno kopiranje, redistribucija, ponovni prenos, izdavanje ili komercijalno iskorišćavanje preuzetog materijala.
  Korisnik se izričito obavezuje da neće na internet stranicama <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>
  postavljati, objavljivati, ili
  na bilo koji drugi način činiti dostupnim bilo kakav materijal koji podleže autorskom pravu, pečatu, ili drugim
  pravima, bez izričitog odobrenja nosioca tih prava, pa je kao takav isključivo odgovoran za eventualnu štetu nastalu
  kršenjem ove svoje obaveze. Do saznanja da li je neki od materijala na internet stranici zaštićen nekim od prava,
  korisnik mora doći samostalno, pa stoga DIERS nije u obavezi da takve informacije iznosi ili objavljuje.<br><br>
  Ova izjava o odgovornosti odnosi se na sve eventualno nastale štete ili moguće povrede uzrokovane bilo kakvom greškom,
  brisanjem, prekidom, računarskim virusom, kvarom, kašnjenjem u radu ili prenosu, prekidom u komunikacijskoj liniji,
  krađom, raskidom ugovora, uništenjem ili neovlašćenim pristupom, promenama ili zloupotrebom zapisa, neprikladnim
  ponašanjem, nemarom, ili bilo kakvom drugom radnjom. Korisnik je saglasan da DIERS nije odgovorna za neprikladno ili
  protivzakonito ponašanje drugih korisnika ili trećih strana i da je rizik od eventualnih šteta u potpunosti na
  korisniku.<br><br>
  DIERS ni u kom slučaju nije odgovorna za bilo kakvu štetu koja može nastati kao posledica korišćenja, ili zbog
  nemogućnosti korišćenja internet stranica <a href="https://www.app.dier.rs">https://www.app.dier.rs</a> delimično ili
  u celosti.<br><br>
  Korisnik izričito izjavljuje da neće smatrati odgovornom DIER, njene ogranke, odgovorne osobe u društvu, zaposlene i
  agente za naknadu eventualne štete i troškova, uključujući i troškove pravnog zastupanja, a koji bi mogli da nastanu
  korišćenjem internet stranice <a href="https://www.app.dier.rs">https://www.app.dier.rs</a> od strane
  korisnika.<br><br>
  DIERS može u svako doba da raskine poslovni odnos sa bilo kojim svojim korisnikom i ukinuti mu lozinke ili korisničke
  naloge. U tom slučaju ne prestaju da važe uslovi koji se odnose na odgovornost i obaveze korisnika. DIERS ne garantuje
  za tačnost, potpunost ili korisnost bilo kog sadržaja na internet stranicama <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>
  postavljenog od
  strane korisnika, trećih lica ili neovlašćenih korisnika.<br><br>
  Registracijom / otvaranjem korisničkog naloga na internet stranici <a href="https://www.app.dier.rs">https://www.app.dier.rs</a>
  smatra se da je korisnik
  ove Uslove korišćenja u celosti pročitao.
  <h4>VLASNIŠTVO SADRŽAJA / INTELEKTUELNA SVOJINA</h4>
  Internet sajt i svi tekstovi, logotipi, grafika, slike, audio materijal i ostali materijal na ovom internet sajtu (u
  daljem tekstu: Sadržaj), jesu autorsko pravo ili vlasništvo autora Nenada Jankovića (Autor) i privrednmog društva DIER
  (u daljem tekstu "DIER")., ili su na internet sajt postavljeni uz dozvolu vlasnika ili ovlašćenog nosioca prava.
  Korišćenje Sadržaja, osim na način opisan u ovim uslovima korišćenja, bez pisane dozvole vlasnika. Autor će zaštiti
  svoja autorska prava, svoja prava intelektualne svojine i ostala srodna prava, kao i druga prava, u najvećoj meri
  dozvoljenoj zakonom, uključujući i krivično gonjenje.<br><br>
  Korisnici aplikacije mogu biti sva lica koja žele da koriste DIERS Aplikaciju, direktno ili preko svojih zaposlenih
  lica (u daljem tekstu "Korisnik") i koja su zaključila Ugovor o korišćenju DIERS Aplikacije (u daljem tekstu
  "Ugovor").<br><br>
  Svako neovlašćeno korišćenje, umnožavanje i distribucija DIERS aplikacije ili bilo kojeg njenog dela, krivično je delo
  i podleže krivičnoj odgovornosti.
  <h4>REGISTRACIJA</h4>
  Da bi se registrovao, Korisnik je dužan da tačno i istinito unese sve tražene podatake o privrednom društvu ili drugom
  privrednom subjektu kao i da kreira korisnički nalog (korisničko ime i lozinku).<br><br>
  Za prijavljivanje, odnosno korišćenje DIERS Aplikacije, Korisnik mora da unese korisničko ime i lozinku koje je
  kreirao prilikom registracije.<br><br>
  Kada se Korisnik registruje za korišćenje DIERS Aplikacije, on postaje vlasnik svog naloga na portalu DIERS Aplikacije
  i njegov administrator.<br><br>
  Za pomoć pri radu u DIERS Aplikaciji kontaktirajte nas putem email-a <a
  href="mailto:support@dier.rs">support@dier.rs</a>.<br><br>
  DIER zadržava pravo izmena i dopuna DIERS Aplikacije.
  <h4>ODGOVORNOST KORISNIKA</h4>
  Korisnik koristi DIERS Aplikaciju isključivo na svoju odgovornost. DIERS ne daje bilo kakve garancije i ne preuzima
  bilo kakvu odgovornost za štete koje Korisnik pretrpi ili koje bude prouzrokovao trećim licima prilikom neodgovornog
  korišćenja DIERS Aplikacije.<br><br>
  Samo Korisnik zna lozinku koju je definisao u svojstvu administratora i za sve aktivnosti autorizovane i izvršene pod
  nekim od korisničkih imena odgovoran je isključivo Korisnik.<br><br>
  Korisnik je odgovoran za otvaranje korisničkih naloga za ostale zaposlene u svojoj organizaciji i za definisanje uloga
  na portalu kojima svaki zaposleni pojedinačno može da pristupi, kao i za ukidanje pristupa DIERS Aplikaciji.<br><br>
  Korisnik je dužan da se u svemu pridržava pozitivnih zakonskih propisa Republike Srbije, a posebno propisa koji
  regulišu upravljanje otpadom i zaštitu podataka o ličnosti.<br><br>
  Korisnik je isključivo odgovoran za tačnost podataka i informacija koje unosi u DIERS Aplikaciju.
  <h4>ODRICANJE OD ODGOVORNOSTI</h4>
  DIERS nema uvid u kreiranu lozinku Korisnika od strane administratora, te nema mogućnost da pristupi podacima
  Korisnika.<br><br>
  DIERS nije odgovoran za greške koje nastaju usled neispravnog popunjavanja i netačnih podataka koje ovlašćena lica
  Korisnika unesu u DIERS Aplikaciju, iz koje se generišu dokumenta o kretanju otpada, dokumenta o kretanju opasnog
  otpada, dokumenta o prekograničnom otpadu i dokumenta koja prate prekogranično kretanje otpada, kao i dnevne
  evidencije o otpadu, dnevne evidencije o posebnim tokovima otapda ili podaci koji se podnose Agenciji za godišnje
  izveštaje o otpadu i posebnim tokovima otpada.<br><br>
  DIERS se neće smatrati odgovornim za privremeni prekid u pružanju usluge ili gubitak sačuvanih podataka usled radova
  na održavanju ili iznenadnih i nepredviđenih tehničkih kvarova ili drugih tehničkih neprilika, kao ni za prekid
  usluge, ukoliko su ove okolnosti prouzrokovane razlozima koji su izvan domašaja DIERS.
  <h4>DOSTUPNOST DIERS APLIKACIJE</h4>
  Korisnik razume i saglasan je sa činjenicom da je internet internacionalna računarska mreža koju ne kontroliše
  neposredno DIERS, već je na nju samo vezan, te zbog toga ne može da garantuje dostupnost servisa koje direktno NE
  kontroliše.<br><br>
  Korisnik razume i saglasan je sa činjenicom da su DIERS serveri povezani na internet putem kompleksne mrežne strukure
  i da se podaci putem interneta prenose kroz različite aktivne i pasivne mrežne komponente (ruteri, mrežni prekidači, i
  slično), koji imaju svoje maksimalne kapacitete prenosa, te DIERS ne može biti odgovoran za nemogućnosti prustupa
  podacima u DIERS Aplikaciji iz ovih razloga.
  <h4>INFORMACIJE KORISNIKA</h4>
  Sve informacije koje se zahtevaju od Korisnika neophodne su za ispunjavanje obaveza po merodavnim propisima o
  upravljanju otpadom i koriste se isključivo i samo za popunjavanje dnevnih evidencija o otpadu, dokumenta o kretanju
  otpada, dokumenta o kretanju opasnog otpada, popunjavanje godišnjih evidencija o otpadu, popunjavanju dnevnih
  evidencija Posebnih tokova otpada kao i popunjavanje godišnjih evidencija Posebnh tokova otpada u zavisnosti od
  operacije odnosno (licence) Korisnika.<br><br>
  Informacije koje Korisnik unosi čuvaju se na DIERS serveru, i mogu im pristupiti treća lica isključivo u skladu sa
  odgovarajućim propisima, na osnovu zahteva nadležnog organa.
  <h4>UPOTREBA KOLAČIĆA (ENGL. „COOKIES“)</h4>
  Kao i većina sajtova na internetu, DIERS sajtovi koriste tzv. “kolačiće” (u daljem tekstu "Cookie"). Cookie-ji su mali
  tekstualni fajlovi koje internet pregledač (u daljem tekstu "Browser") čuva na računaru Korisnika i koji pomažu da se
  identifikujete na veb sajtovima prilikom kasnijih poseta. Cookie-ji su jedinstveno dodeljeni Korisniku i može ih
  čitati samo web server u domenu koji je izdao taj Cookie. Korišćenje Cookie-ja je standardna praksa na internetu i
  većina Browser-a je podešena tako da automatski prihvata sve Cookie-je. Međutim, Korisnik uvek može odlučiti da želi
  da prestane da ih koristi, odnosno, može ih jednostavno ručno obrisati ili svoj Browser posebno podesiti za rad sa
  Cookie-jima. Za ove procedure Korisnik može da pogleda dokumentaciju ili Help/Pomoć sekciju svog Browser-a.
  <br><br>Na DIERS sajtovima koristimo Cookie-je isključivo kako bismo Korisnicima omogućili bolji kvalitet interakcije sa veb
  sajtom i DIERS Aplikacijom.<br><br>
  Za potrebe statističke analize posećenosti i optimizaciju DIERS Aplikacije koristi se servis Google Analytics. Datalji
  o ovim servisima kao i o mogućnostima podešavanja od strane Korisnika se mogu pogledati na sledećim linkovima:
  <a href="www.google.com/analytics/learn/privacy.html">www.google.com/analytics/learn/privacy.html</a>.
  <h4>DRUGI INTERNET SAJTOVI</h4>
  DIERS internet sajt može sadržati linkove za druge internet sajtove koji nisu pod DIERS kontrolom i koji ne podležu
  Ugovoru i ovim Uslovima korišćenja. Ukoliko Korisnik pristupi drugim internet sajtovima koristeći date linkove,
  operateri ovih internet sajtova mogu tražiti informacije koje će koristiti u skladu sa svojim politikama zaštite
  privatnosti, koje se mogu razlikovati od one koja postoji kod DIERS.<br><br>
  Takvi linkovi su obezbeđeni isključivo da bi Vama pružili što više informacija. DIER ne kontroliše i nije odgovoran za
  rad, sadržaj, politiku privatnosti ili bezbednost ovih sajtova. Autor ne kontroliše sadržaj ili proizvode ili usluge
  dostupne na ovim internet sajtovima. Ako uspostavite vezu sa takvim internet sajtovima preko linka na našem internet
  sajtu, to činite na sopstveni rizik i bez saglasnosti DIER.
  <h4>ZAŠTITA PODATAKA O LIČNOSTI</h4>
  DIERS ne predstavlja rukovaoca, obrađivača niti korisnika podataka o ličnosti u skladu sa merodavnim propisima.<br><br>
  Korisnik preuzima obavezu da u slučaju obrade podataka o ličnosti u vezi sa izvršenjem ovog Ugovora preduzme sve
  radnje kako bi svoje poslovanje uskladio sa zakonom i drugom pozitivno-pravnim propisima iz oblasti zaštite podataka o
  ličnosti.
  <h4>BEZBEDNOST</h4>
  Održavanje integriteta i bezbednosti naših veb lokacija, proizvoda, funkcija i usluga i sprečavanje i otkrivanje
  bezbednosnih pretnji, prevara ili drugih kriminalnih ili zlonamernih aktivnosti koje mogu da ugroze vaše informacije.
  Kada ste u interakciji sa nama, pre odobravanja pristupa vašim podacima, preduzećemo osnovane korake da potvrdimo vaš
  identitet kao što je zahtevanje lozinke i ID-a korisnika. Možemo preduzeti i dodatne bezbednosne mere, kao što je
  CCTV, da bismo obezbedili naše fizičke lokacije.
  <h4>USAGLAŠENOST SA ZAKONOM</h4>
  Usaglašenost sa važećim zakonima, propisima, sudskim nalozima, državnim zahtevima i zahtevima organa reda u cilju
  adekvatnog rada naših usluga i proizvoda i zaštite naše kompanije, naših korisnika i klijenata i rešavanja svih
  korisničkih sporova.
  <h4>IZMENE IZJAVE O PRIVATNOSTI</h4>
  Ako izmenimo izjavu o privatnosti, objavićemo izmenjenu izjavu ovde, sa datumom ažurirane revizije. Ukoliko izvršimo
  znatne promene u izjavi o privatnosti koje dovode do materijalnih promena naših praksi privatnosti, možemo vas
  obavestiti i drugim sredstvima, na primer slanjem e-poruke ili objavljivanjem obaveštenje na korporativnoj veb
  lokaciji i/ili stranicama društvenih medija pre nego što promene stupe na snagu.
  Datum objavljivanja: 2021. april.
  <h4>KOMUNIKACIJA</h4>
  Komunikacija između DIERS i Korisnika odvija se putem imejla <a href="mailto:support@dier.rs">support@dier.rs</a> ili
  na telefon: <a href="tel:0003812644470577">+381 64 447 05 77</a>.
  <br><br><br>
</div>

