<div class="row my-2">
  <div class="col-8">
  <form #form3 (ngSubmit)="updateDozvolaForm()">
    <div class="row">
      <div class="col-6">
        <label class="col-12">Broj dozvola:</label>
        <input #brojDozvola1="ngModel" name="brojDozvola" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="brojDozvola" fullWidth nbInput
               placeholder="0" step="1" type="number" min="1">
      </div>
      <div class="col-6">
        <label class="col-12">Broj vozila:</label>
        <input #brojVozila1="ngModel" name="brojVozila" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="brojVozila"
               fullWidth nbInput
               placeholder="0" step="1" type="number" min="1">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button nbButton status="primary" type="submit" fullWidth>Odaberi</button>
      </div>
    </div>
  </form>
  </div>
</div>

<form #form2="ngForm" class="mt-3" *ngIf="brojDozvola > 0">
  <nb-card accent="success">
    <nb-card-body *ngFor="let dozvola of dozvole; let i = index">
      <div class="row">
        <div class="col-12 mb-2">
          <label class="label" for="input-nazivDozvole">Naziv Dozvole:</label>
          <input nbInput
                 [(ngModel)]="dozvola.naziv"
                 [ngModelOptions]="{standalone: true}"
                 #nazivDozvole="ngModel"
                 id="input-nazivDozvole"
                 name="nazivDozvole"
                 placeholder="Naziv"
                 fullWidth
                 autofocus
                 [status]="nazivDozvole.dirty ? (nazivDozvole.invalid  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [attr.aria-invalid]="nazivDozvole.invalid && nazivDozvole.touched ? true : null">
          <ng-container *ngIf="nazivDozvole.invalid && nazivDozvole.touched">
            <p class="error-message mt-1 mb-0" *ngIf="nazivDozvole.errors?.required">
              Naziv dozvole je obavezna!
            </p>
          </ng-container>
        </div>
        <div class="col-12 mb-2">
          <label class="label" for="input-sifraDozvole">Šifra Dozvole:</label>
          <input nbInput
                 [(ngModel)]="dozvola.sifra"
                 [ngModelOptions]="{standalone: true}"
                 #sifraDozvole="ngModel"
                 id="input-sifraDozvole"
                 name="sifraDozvole"
                 placeholder="Sifra"
                 fullWidth
                 autofocus
                 [status]="sifraDozvole.dirty ? (sifraDozvole.invalid  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [attr.aria-invalid]="sifraDozvole.invalid && sifraDozvole.touched ? true : null">
          <ng-container *ngIf="sifraDozvole.invalid && sifraDozvole.touched">
            <p class="error-message mt-1 mb-0" *ngIf="sifraDozvole.errors?.required">
              Šifra dozvole je obavezna!
            </p>
          </ng-container>
        </div>
        <div class="col-6">
          <label class="label" for="input-datumNastanka">Datum izdavanja dozvole:</label>
          <input nbInput
                 [(ngModel)]="dozvola.datumNastanka"
                 [ngModelOptions]="{standalone: true}"
                 #datumNastanka="ngModel"
                 id="input-datumNastanka"
                 name="datumDozvole"
                 placeholder=""
                 fullWidth
                 [status]="dateValid(dozvola) ? 'danger' : 'success'"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [attr.aria-invalid]="datumNastanka.invalid && datumNastanka.touched ? true : null"
                 [nbDatepicker]="datumNastankaDozvole">
          <nb-datepicker format="dd/MM/yyyy" #datumNastankaDozvole></nb-datepicker>
          <ng-container *ngIf="datumNastanka.invalid && datumNastanka.touched">
            <p class="error-message mt-1 mb-0" *ngIf="datumNastanka.errors?.required">
              Datum izdavanja dozvole je obavezan!
            </p>
          </ng-container>
        </div>
        <div class="col-6">
          <label class="label" for="input-datumTrajanja">Datum isteka dozvole:</label>
          <input nbInput
                 [(ngModel)]="dozvola.datumTrajanja"
                 [ngModelOptions]="{standalone: true}"
                 #datumTrajanja="ngModel"
                 id="input-datumTrajanja"
                 name="datumTrajanja"
                 placeholder=""
                 fullWidth
                 [status]="dateValid(dozvola) ? 'danger' : 'success'"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [attr.aria-invalid]="datumTrajanja.invalid && datumTrajanja.touched ? true : null"
                 [nbDatepicker]="datumTrajanjaDozvole">
          <nb-datepicker format="dd/MM/yyyy" #datumTrajanjaDozvole></nb-datepicker>
          <ng-container *ngIf="datumTrajanja.invalid && datumTrajanja.touched">
            <p class="error-message mt-1 mb-0" *ngIf="datumTrajanja.errors?.required">
              Datum isteka dozvole je obavezan!
            </p>
          </ng-container>
        </div>
        <div class="col-6 mt-2">
          <button nbButton status="success" type="submit" [disabled]="dozvola.sifra === ''"
                  (click)="chooseDozvola(dozvola)">Odaberi otpade
          </button>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</form>

<form #form4="ngForm" class="mt-3" *ngIf="brojVozila > 0">

  <nb-card accent="danger">
    <nb-card-body *ngFor="let vozilo of vozila; let i = index">
      <div class="row">
        <h5>Vozilo #{{i}}</h5>
        <div class="col-12">
          <label class="label" for="input-registarskiBroj">Registarski broj tablice:</label>
          <input nbInput
                 [(ngModel)]="vozilo.registarskiBroj"
                 [ngModelOptions]="{standalone: true}"
                 #registarskiBroj="ngModel"
                 id="input-registarskiBroj"
                 name="registarskiBroj"
                 placeholder="Registarski broj"
                 pattern="([A-Ž]{2})-(\d{3,4})-([A-Ž]{2})"
                 autofocus
                 oninput="this.value = this.value.toUpperCase()"
                 fullWidth
                 [status]="registarskiBroj.dirty ? (registarskiBroj.invalid  ? 'danger' : 'success') : 'basic'"
                 [required]="getConfigValue('forms.validation.nazivFirme.required')"
                 [attr.aria-invalid]="registarskiBroj.invalid && registarskiBroj.touched ? true : null">
          <ng-container *ngIf="registarskiBroj.invalid && registarskiBroj.touched">
            <p class="error-message mt-1 mb-0" *ngIf="registarskiBroj.errors?.required">
              Registarski broj tablica je obavezan!
            </p>
          </ng-container>
        </div>
        <div class="col-12">
          <label class="label" for="input-vrstaVozila">Vrsta vozila:</label>
          <nb-select
            [(ngModel)]="vozilo.vrstaVozila"
            [ngModelOptions]="{standalone: true}"
            #vrstaVozila="ngModel"
            id="input-vrstaVozila"
            name="vrstaVozila"
            placeholder="Vrsta"
            autofocus
            fullWidth
            [status]="vrstaVozila.dirty ? (vrstaVozila.invalid  ? 'danger' : 'success') : 'basic'"
            [required]="getConfigValue('forms.validation.nazivFirme.required')"
            [attr.aria-invalid]="vrstaVozila.invalid && vrstaVozila.touched ? true : null"
            selected="kamion">
            <nb-option value="kamion">Kamion</nb-option>
            <nb-option value="kombi">Kombi</nb-option>
            <nb-option value="automobil">Automobil</nb-option>
          </nb-select>
          <ng-container *ngIf="vrstaVozila.invalid && vrstaVozila.touched">
            <p class="error-message mt-1 mb-0" *ngIf="vrstaVozila.errors?.required">
              Vrsta vozila je obavezna!
            </p>
          </ng-container>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
