@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

:host nb-accordion {
  box-shadow: none;
  background-color: transparent;
}

:host nb-accordion-item {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

:host nb-accordion-item-header {
  color: transparent;
  padding-bottom: 0;
  margin-bottom: 0;
}

:host nb-accordion-item-body {
  padding-top: 0;
  background-color: transparent;
}
