<div>
  <nb-card class="container-fluid">
    <nb-card-header>
      Dodajte novi inventar ambalaze
    </nb-card-header>
    <nb-card-body>
      <div class="flex-fill px-4">
        <div class="row">
          <div class="col-6 flex-fill">
            <form>
              <div class="row my-3">
                <nb-select class="col-8" [selected]="vrste[0]" [(ngModel)]="ambalaza.naziv" name="naziv">
                  <nb-option *ngFor="let v of vrste" [value]="v">{{ v }}</nb-option>
                </nb-select>
              </div>
              <div class="row my-3">
                <label class="col-12">Naziv: </label>
                <input class="col ml-3" nbInput [placeholder]="ambalaza.naziv"
                       [(ngModel)]="ambalaza.naziv" name="naziv">
              </div>
              <div class="row my-3">
                <label class="col-12">Opis: </label>
                <input class="col ml-3" nbInput [placeholder]="ambalaza.opis"
                       [(ngModel)]="ambalaza.opis" name="opis">
              </div>
              <div class="row my-3">
                <label class="col-12">Trenutna kolicina na skladistu: </label>
                <input class="col-2 ml-3" fullWidth pattern="[0-9]*" min="0" type="number" nbInput
                       placeholder="0.0" [(ngModel)]="ambalaza.kolicina" name="kolicina">
                <button nbButton disabled>kg</button>
              </div>
              <div class="row my-3 ml-3">
                <nb-radio-group [(ngModel)]="ambalaza.povratna">
                  <nb-radio (valueChange)="ambalaza.povratna = true;" name="povratna">Povratna</nb-radio>
                  <nb-radio (valueChange)="ambalaza.povratna = false;" checked name="nepovratna">Nepovratna</nb-radio>
                </nb-radio-group>
              </div>
              <div class="row my-3">
                <button nbButton class="ml-3" type="submit" status="primary">Dodaj</button>
              </div>
            </form>
            {{ ambalaza | json}}
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
